<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lidaning.jxc.mapper.JxcGspDrugrecalllistMapper">

    <resultMap type="JxcGspDrugrecalllist" id="JxcGspDrugrecalllistResult">
        <result property="id"    column="id"    />
        <result property="purchaser"    column="purchaser"    />
        <result property="purchaserdate"    column="purchaserdate"    />
        <result property="purchaserquantity"    column="purchaserquantity"    />
        <result property="recallquantity"    column="recallquantity"    />
        <result property="usequantity"    column="usequantity"    />
        <result property="adversereaction"    column="adversereaction"    />
        <result property="telephone"    column="telephone"    />
        <result property="drno"    column="drno"    />
        <result property="synctime"    column="synctime"    />
        <result property="substatus"    column="substatus"    />
        <result property="failreason"    column="failreason"    />
        <result property="pid"    column="pid"    />
    </resultMap>

    <sql id="selectJxcGspDrugrecalllistVo">
        select id, purchaser, purchaserdate, purchaserquantity, recallquantity, usequantity, adversereaction, telephone, drno, synctime, substatus, failreason, pid from jxc_gsp_drugrecalllist
    </sql>

    <select id="selectJxcGspDrugrecalllistList" parameterType="JxcGspDrugrecalllist" resultMap="JxcGspDrugrecalllistResult">
        <include refid="selectJxcGspDrugrecalllistVo"/>
        <where>
            <if test="purchaser != null  and purchaser != ''"> and purchaser = #{purchaser}</if>
            <if test="purchaserdate != null "> and purchaserdate = #{purchaserdate}</if>
            <if test="purchaserquantity != null "> and purchaserquantity = #{purchaserquantity}</if>
            <if test="recallquantity != null "> and recallquantity = #{recallquantity}</if>
            <if test="usequantity != null "> and usequantity = #{usequantity}</if>
            <if test="adversereaction != null  and adversereaction != ''"> and adversereaction = #{adversereaction}</if>
            <if test="telephone != null  and telephone != ''"> and telephone = #{telephone}</if>
            <if test="drno != null  and drno != ''"> and drno = #{drno}</if>
            <if test="synctime != null "> and synctime = #{synctime}</if>
            <if test="substatus != null  and substatus != ''"> and substatus = #{substatus}</if>
            <if test="failreason != null  and failreason != ''"> and failreason = #{failreason}</if>
            <if test="pid != null  and pid != ''"> and pid = #{pid}</if>
        </where>
    </select>

    <select id="selectJxcGspDrugrecalllistById" parameterType="String" resultMap="JxcGspDrugrecalllistResult">
        <include refid="selectJxcGspDrugrecalllistVo"/>
        where id = #{id}
    </select>

    <insert id="insertJxcGspDrugrecalllist" parameterType="JxcGspDrugrecalllist">
        insert into jxc_gsp_drugrecalllist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="purchaser != null">purchaser,</if>
            <if test="purchaserdate != null">purchaserdate,</if>
            <if test="purchaserquantity != null">purchaserquantity,</if>
            <if test="recallquantity != null">recallquantity,</if>
            <if test="usequantity != null">usequantity,</if>
            <if test="adversereaction != null">adversereaction,</if>
            <if test="telephone != null">telephone,</if>
            <if test="drno != null">drno,</if>
            <if test="synctime != null">synctime,</if>
            <if test="substatus != null">substatus,</if>
            <if test="failreason != null">failreason,</if>
            <if test="pid != null">pid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="purchaser != null">#{purchaser},</if>
            <if test="purchaserdate != null">#{purchaserdate},</if>
            <if test="purchaserquantity != null">#{purchaserquantity},</if>
            <if test="recallquantity != null">#{recallquantity},</if>
            <if test="usequantity != null">#{usequantity},</if>
            <if test="adversereaction != null">#{adversereaction},</if>
            <if test="telephone != null">#{telephone},</if>
            <if test="drno != null">#{drno},</if>
            <if test="synctime != null">#{synctime},</if>
            <if test="substatus != null">#{substatus},</if>
            <if test="failreason != null">#{failreason},</if>
            <if test="pid != null">#{pid},</if>
         </trim>
    </insert>

    <update id="updateJxcGspDrugrecalllist" parameterType="JxcGspDrugrecalllist">
        update jxc_gsp_drugrecalllist
        <trim prefix="SET" suffixOverrides=",">
            <if test="purchaser != null">purchaser = #{purchaser},</if>
            <if test="purchaserdate != null">purchaserdate = #{purchaserdate},</if>
            <if test="purchaserquantity != null">purchaserquantity = #{purchaserquantity},</if>
            <if test="recallquantity != null">recallquantity = #{recallquantity},</if>
            <if test="usequantity != null">usequantity = #{usequantity},</if>
            <if test="adversereaction != null">adversereaction = #{adversereaction},</if>
            <if test="telephone != null">telephone = #{telephone},</if>
            <if test="drno != null">drno = #{drno},</if>
            <if test="synctime != null">synctime = #{synctime},</if>
            <if test="substatus != null">substatus = #{substatus},</if>
            <if test="failreason != null">failreason = #{failreason},</if>
            <if test="pid != null">pid = #{pid},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateJxcGspDrugrecalllistByPrimaryKey" parameterType="JxcGspDrugrecalllist">
        update jxc_gsp_drugrecalllist set
           purchaser = #{purchaser},
           purchaserdate = #{purchaserdate},
           purchaserquantity = #{purchaserquantity},
           recallquantity = #{recallquantity},
           usequantity = #{usequantity},
           adversereaction = #{adversereaction},
           telephone = #{telephone},
           drno = #{drno},
           synctime = #{synctime},
           substatus = #{substatus},
           failreason = #{failreason},
           pid = #{pid}
        where id = #{id}
    </update>
    <delete id="deleteJxcGspDrugrecalllistById" parameterType="String">
        delete from jxc_gsp_drugrecalllist where id = #{id}
    </delete>

    <delete id="deleteJxcGspDrugrecalllistByIds" parameterType="String">
        delete from jxc_gsp_drugrecalllist where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectJxcGspDrugrecalllistCount" parameterType="JxcGspDrugrecalllist" resultType="java.lang.Integer">
        select count(1) from jxc_gsp_drugrecalllist
        <where>
            <if test="purchaser != null  and purchaser != ''"> and purchaser = #{purchaser}</if>
            <if test="purchaserdate != null "> and purchaserdate = #{purchaserdate}</if>
            <if test="purchaserquantity != null "> and purchaserquantity = #{purchaserquantity}</if>
            <if test="recallquantity != null "> and recallquantity = #{recallquantity}</if>
            <if test="usequantity != null "> and usequantity = #{usequantity}</if>
            <if test="adversereaction != null  and adversereaction != ''"> and adversereaction = #{adversereaction}</if>
            <if test="telephone != null  and telephone != ''"> and telephone = #{telephone}</if>
            <if test="drno != null  and drno != ''"> and drno = #{drno}</if>
            <if test="synctime != null "> and synctime = #{synctime}</if>
            <if test="substatus != null  and substatus != ''"> and substatus = #{substatus}</if>
            <if test="failreason != null  and failreason != ''"> and failreason = #{failreason}</if>
        </where>
    </select>

</mapper>
