<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lidaning.api.jxc.mapper.JxcSCorpinfoMapper">

    <resultMap type="JxcSCorpinfo" id="JxcSCorpinfoResult">
        <result property="id"    column="id"    />
        <result property="corpname"    column="corpname"    />
        <result property="corpcode"    column="corpcode"    />
        <result property="orgdeptno"    column="orgdeptno"    />
        <result property="corppassword"    column="corppassword"    />
        <result property="areacode"    column="areacode"    />
        <result property="areaname"    column="areaname"    />
        <result property="corpadress"    column="corpadress"    />
        <result property="license"    column="license"    />
        <result property="linkname"    column="linkname"    />
        <result property="linktel"    column="linktel"    />
        <result property="mobile"    column="mobile"    />
        <result property="qq"    column="qq"    />
        <result property="msn"    column="msn"    />
        <result property="email"    column="email"    />
        <result property="products"    column="products"    />
        <result property="corptypecode"    column="corptypecode"    />
        <result property="corptypename"    column="corptypename"    />
        <result property="isfixedcorp"    column="isfixedcorp"    />
        <result property="hddseri"    column="hddseri"    />
        <result property="updateaddress"    column="updateaddress"    />
        <result property="ltaddress"    column="ltaddress"    />
        <result property="status"    column="status"    />
        <result property="macaddress"    column="macaddress"    />
        <result property="finallystarttime"    column="finallystarttime"    />
        <result property="zdcount"    column="zdcount"    />
        <result property="refseqno"    column="refseqno"    />
        <result property="socialcreditcode"    column="socialcreditcode"    />
        <result property="mobilecount"    column="mobilecount"    />
        <result property="currenttime"    column="currenttime"    />
        <result property="mobileendtime"    column="mobileendtime"    />
        <result property="refentid"    column="refentid"    />
        <result property="entid"    column="entid"    />
        <result property="appkey"    column="appkey"    />
    </resultMap>

    <sql id="selectJxcSCorpinfoVo">
        select id, corpname, corpcode, orgdeptno, corppassword, areacode, areaname, corpadress, license, linkname, linktel, mobile, qq, msn, email, products, corptypecode, corptypename, isfixedcorp, hddseri, updateaddress, ltaddress, status, macaddress, finallystarttime, zdcount, refseqno, socialcreditcode, mobilecount, currenttime, mobileendtime, refentid, entid, appkey from jxc_s_corpinfo
    </sql>

    <select id="selectJxcSCorpinfoList" parameterType="JxcSCorpinfo" resultMap="JxcSCorpinfoResult">
        <include refid="selectJxcSCorpinfoVo"/>
        <where>
            <if test="corpname != null  and corpname != ''">
                 AND corpname like concat(concat('%', #{corpname}), '%')
            </if>
            <if test="corpcode != null  and corpcode != ''"> and corpcode = #{corpcode}</if>
            <if test="orgdeptno != null  and orgdeptno != ''"> and orgdeptno = #{orgdeptno}</if>
            <if test="corppassword != null  and corppassword != ''"> and corppassword = #{corppassword}</if>
            <if test="areacode != null  and areacode != ''"> and areacode = #{areacode}</if>
            <if test="areaname != null  and areaname != ''">
                 AND areaname like concat(concat('%', #{areaname}), '%')
            </if>
            <if test="corpadress != null  and corpadress != ''"> and corpadress = #{corpadress}</if>
            <if test="license != null  and license != ''"> and license = #{license}</if>
            <if test="linkname != null  and linkname != ''">
                 AND linkname like concat(concat('%', #{linkname}), '%')
            </if>
            <if test="linktel != null  and linktel != ''"> and linktel = #{linktel}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="qq != null  and qq != ''"> and qq = #{qq}</if>
            <if test="msn != null  and msn != ''"> and msn = #{msn}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="products != null  and products != ''"> and products = #{products}</if>
            <if test="corptypecode != null  and corptypecode != ''"> and corptypecode = #{corptypecode}</if>
            <if test="corptypename != null  and corptypename != ''">
                 AND corptypename like concat(concat('%', #{corptypename}), '%')
            </if>
            <if test="isfixedcorp != null "> and isfixedcorp = #{isfixedcorp}</if>
            <if test="hddseri != null  and hddseri != ''"> and hddseri = #{hddseri}</if>
            <if test="updateaddress != null  and updateaddress != ''"> and updateaddress = #{updateaddress}</if>
            <if test="ltaddress != null  and ltaddress != ''"> and ltaddress = #{ltaddress}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="macaddress != null  and macaddress != ''"> and macaddress = #{macaddress}</if>
            <if test="finallystarttime != null "> and finallystarttime = #{finallystarttime}</if>
            <if test="zdcount != null "> and zdcount = #{zdcount}</if>
            <if test="refseqno != null  and refseqno != ''"> and refseqno = #{refseqno}</if>
            <if test="socialcreditcode != null  and socialcreditcode != ''"> and socialcreditcode = #{socialcreditcode}</if>
            <if test="mobilecount != null  and mobilecount != ''"> and mobilecount = #{mobilecount}</if>
            <if test="currenttime != null  and currenttime != ''"> and currenttime = #{currenttime}</if>
            <if test="mobileendtime != null  and mobileendtime != ''"> and mobileendtime = #{mobileendtime}</if>
            <if test="refentid != null  and refentid != ''"> and refentid = #{refentid}</if>
            <if test="entid != null  and entid != ''"> and entid = #{entid}</if>
            <if test="appkey != null  and appkey != ''"> and appkey = #{appkey}</if>
        </where>
    </select>

    <select id="selectJxcSCorpinfoById" parameterType="String" resultMap="JxcSCorpinfoResult">
        <include refid="selectJxcSCorpinfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertJxcSCorpinfo" parameterType="JxcSCorpinfo">
        insert into jxc_s_corpinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="corpname != null">corpname,</if>
            <if test="corpcode != null">corpcode,</if>
            <if test="orgdeptno != null">orgdeptno,</if>
            <if test="corppassword != null">corppassword,</if>
            <if test="areacode != null">areacode,</if>
            <if test="areaname != null">areaname,</if>
            <if test="corpadress != null">corpadress,</if>
            <if test="license != null">license,</if>
            <if test="linkname != null">linkname,</if>
            <if test="linktel != null">linktel,</if>
            <if test="mobile != null">mobile,</if>
            <if test="qq != null">qq,</if>
            <if test="msn != null">msn,</if>
            <if test="email != null">email,</if>
            <if test="products != null">products,</if>
            <if test="corptypecode != null">corptypecode,</if>
            <if test="corptypename != null">corptypename,</if>
            <if test="isfixedcorp != null">isfixedcorp,</if>
            <if test="hddseri != null">hddseri,</if>
            <if test="updateaddress != null">updateaddress,</if>
            <if test="ltaddress != null">ltaddress,</if>
            <if test="status != null">status,</if>
            <if test="macaddress != null">macaddress,</if>
            <if test="finallystarttime != null">finallystarttime,</if>
            <if test="zdcount != null">zdcount,</if>
            <if test="refseqno != null">refseqno,</if>
            <if test="socialcreditcode != null">socialcreditcode,</if>
            <if test="mobilecount != null">mobilecount,</if>
            <if test="currenttime != null">currenttime,</if>
            <if test="mobileendtime != null">mobileendtime,</if>
            <if test="refentid != null">refentid,</if>
            <if test="entid != null">entid,</if>
            <if test="appkey != null">appkey,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="corpname != null">#{corpname},</if>
            <if test="corpcode != null">#{corpcode},</if>
            <if test="orgdeptno != null">#{orgdeptno},</if>
            <if test="corppassword != null">#{corppassword},</if>
            <if test="areacode != null">#{areacode},</if>
            <if test="areaname != null">#{areaname},</if>
            <if test="corpadress != null">#{corpadress},</if>
            <if test="license != null">#{license},</if>
            <if test="linkname != null">#{linkname},</if>
            <if test="linktel != null">#{linktel},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="qq != null">#{qq},</if>
            <if test="msn != null">#{msn},</if>
            <if test="email != null">#{email},</if>
            <if test="products != null">#{products},</if>
            <if test="corptypecode != null">#{corptypecode},</if>
            <if test="corptypename != null">#{corptypename},</if>
            <if test="isfixedcorp != null">#{isfixedcorp},</if>
            <if test="hddseri != null">#{hddseri},</if>
            <if test="updateaddress != null">#{updateaddress},</if>
            <if test="ltaddress != null">#{ltaddress},</if>
            <if test="status != null">#{status},</if>
            <if test="macaddress != null">#{macaddress},</if>
            <if test="finallystarttime != null">#{finallystarttime},</if>
            <if test="zdcount != null">#{zdcount},</if>
            <if test="refseqno != null">#{refseqno},</if>
            <if test="socialcreditcode != null">#{socialcreditcode},</if>
            <if test="mobilecount != null">#{mobilecount},</if>
            <if test="currenttime != null">#{currenttime},</if>
            <if test="mobileendtime != null">#{mobileendtime},</if>
            <if test="refentid != null">#{refentid},</if>
            <if test="entid != null">#{entid},</if>
            <if test="appkey != null">#{appkey},</if>
         </trim>
    </insert>

    <update id="updateJxcSCorpinfo" parameterType="JxcSCorpinfo">
        update jxc_s_corpinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="corpname != null">corpname = #{corpname},</if>
            <if test="corpcode != null">corpcode = #{corpcode},</if>
            <if test="orgdeptno != null">orgdeptno = #{orgdeptno},</if>
            <if test="corppassword != null">corppassword = #{corppassword},</if>
            <if test="areacode != null">areacode = #{areacode},</if>
            <if test="areaname != null">areaname = #{areaname},</if>
            <if test="corpadress != null">corpadress = #{corpadress},</if>
            <if test="license != null">license = #{license},</if>
            <if test="linkname != null">linkname = #{linkname},</if>
            <if test="linktel != null">linktel = #{linktel},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="qq != null">qq = #{qq},</if>
            <if test="msn != null">msn = #{msn},</if>
            <if test="email != null">email = #{email},</if>
            <if test="products != null">products = #{products},</if>
            <if test="corptypecode != null">corptypecode = #{corptypecode},</if>
            <if test="corptypename != null">corptypename = #{corptypename},</if>
            <if test="isfixedcorp != null">isfixedcorp = #{isfixedcorp},</if>
            <if test="hddseri != null">hddseri = #{hddseri},</if>
            <if test="updateaddress != null">updateaddress = #{updateaddress},</if>
            <if test="ltaddress != null">ltaddress = #{ltaddress},</if>
            <if test="status != null">status = #{status},</if>
            <if test="macaddress != null">macaddress = #{macaddress},</if>
            <if test="finallystarttime != null">finallystarttime = #{finallystarttime},</if>
            <if test="zdcount != null">zdcount = #{zdcount},</if>
            <if test="refseqno != null">refseqno = #{refseqno},</if>
            <if test="socialcreditcode != null">socialcreditcode = #{socialcreditcode},</if>
            <if test="mobilecount != null">mobilecount = #{mobilecount},</if>
            <if test="currenttime != null">currenttime = #{currenttime},</if>
            <if test="mobileendtime != null">mobileendtime = #{mobileendtime},</if>
            <if test="refentid != null">refentid = #{refentid},</if>
            <if test="entid != null">entid = #{entid},</if>
            <if test="appkey != null">appkey = #{appkey},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateJxcSCorpinfoByPrimaryKey" parameterType="JxcSCorpinfo">
        update jxc_s_corpinfo set
           corpname = #{corpname},
           corpcode = #{corpcode},
           orgdeptno = #{orgdeptno},
           corppassword = #{corppassword},
           areacode = #{areacode},
           areaname = #{areaname},
           corpadress = #{corpadress},
           license = #{license},
           linkname = #{linkname},
           linktel = #{linktel},
           mobile = #{mobile},
           qq = #{qq},
           msn = #{msn},
           email = #{email},
           products = #{products},
           corptypecode = #{corptypecode},
           corptypename = #{corptypename},
           isfixedcorp = #{isfixedcorp},
           hddseri = #{hddseri},
           updateaddress = #{updateaddress},
           ltaddress = #{ltaddress},
           status = #{status},
           macaddress = #{macaddress},
           finallystarttime = #{finallystarttime},
           zdcount = #{zdcount},
           refseqno = #{refseqno},
           socialcreditcode = #{socialcreditcode},
           mobilecount = #{mobilecount},
           currenttime = #{currenttime},
           mobileendtime = #{mobileendtime},
           refentid = #{refentid},
           entid = #{entid},
           appkey = #{appkey}
        where id = #{id}
    </update>
    <delete id="deleteJxcSCorpinfoById" parameterType="String">
        delete from jxc_s_corpinfo where id = #{id}
    </delete>

    <delete id="deleteJxcSCorpinfoByIds" parameterType="String">
        delete from jxc_s_corpinfo where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectJxcSCorpinfoCount" parameterType="JxcSCorpinfo" resultType="java.lang.Integer">
        select count(1) from jxc_s_corpinfo
        <where>
            <if test="corpname != null  and corpname != ''">
                AND corpname like concat(concat('%', #{corpname}), '%')
            </if>
            <if test="corpcode != null  and corpcode != ''"> and corpcode = #{corpcode}</if>
            <if test="orgdeptno != null  and orgdeptno != ''"> and orgdeptno = #{orgdeptno}</if>
            <if test="corppassword != null  and corppassword != ''"> and corppassword = #{corppassword}</if>
            <if test="areacode != null  and areacode != ''"> and areacode = #{areacode}</if>
            <if test="areaname != null  and areaname != ''">
                AND areaname like concat(concat('%', #{areaname}), '%')
            </if>
            <if test="corpadress != null  and corpadress != ''"> and corpadress = #{corpadress}</if>
            <if test="license != null  and license != ''"> and license = #{license}</if>
            <if test="linkname != null  and linkname != ''">
                AND linkname like concat(concat('%', #{linkname}), '%')
            </if>
            <if test="linktel != null  and linktel != ''"> and linktel = #{linktel}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="qq != null  and qq != ''"> and qq = #{qq}</if>
            <if test="msn != null  and msn != ''"> and msn = #{msn}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="products != null  and products != ''"> and products = #{products}</if>
            <if test="corptypecode != null  and corptypecode != ''"> and corptypecode = #{corptypecode}</if>
            <if test="corptypename != null  and corptypename != ''">
                AND corptypename like concat(concat('%', #{corptypename}), '%')
            </if>
            <if test="isfixedcorp != null "> and isfixedcorp = #{isfixedcorp}</if>
            <if test="hddseri != null  and hddseri != ''"> and hddseri = #{hddseri}</if>
            <if test="updateaddress != null  and updateaddress != ''"> and updateaddress = #{updateaddress}</if>
            <if test="ltaddress != null  and ltaddress != ''"> and ltaddress = #{ltaddress}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="macaddress != null  and macaddress != ''"> and macaddress = #{macaddress}</if>
            <if test="finallystarttime != null "> and finallystarttime = #{finallystarttime}</if>
            <if test="zdcount != null "> and zdcount = #{zdcount}</if>
            <if test="refseqno != null  and refseqno != ''"> and refseqno = #{refseqno}</if>
            <if test="socialcreditcode != null  and socialcreditcode != ''"> and socialcreditcode = #{socialcreditcode}</if>
            <if test="mobilecount != null  and mobilecount != ''"> and mobilecount = #{mobilecount}</if>
            <if test="currenttime != null  and currenttime != ''"> and currenttime = #{currenttime}</if>
            <if test="mobileendtime != null  and mobileendtime != ''"> and mobileendtime = #{mobileendtime}</if>
            <if test="refentid != null  and refentid != ''"> and refentid = #{refentid}</if>
            <if test="entid != null  and entid != ''"> and entid = #{entid}</if>
            <if test="appkey != null  and appkey != ''"> and appkey = #{appkey}</if>
        </where>
    </select>

</mapper>
