<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lidaning.api.jxc.mapper.JxcTrdBuymainMapper">

    <resultMap type="JxcTrdBuymain" id="JxcTrdBuymainResult">
        <result property="instkno"    column="instkno"    />
        <result property="goodarrtime"    column="goodarrtime"    />
        <result property="ordno"    column="ordno"    />
        <result property="invoiceno"    column="invoiceno"    />
        <result property="billfileno"    column="billfileno"    />
        <result property="supplierid"    column="supplierid"    />
        <result property="suppliername"    column="suppliername"    />
        <result property="totalamt"    column="totalamt"    />
        <result property="waitpayamt"    column="waitpayamt"    />
        <result property="payment"    column="payment"    />
        <result property="repsnid"    column="repsnid"    />
        <result property="repsnname"    column="repsnname"    />
        <result property="operid"    column="operid"    />
        <result property="opername"    column="opername"    />
        <result property="inspectorid"    column="inspectorid"    />
        <result property="inspectorname"    column="inspectorname"    />
        <result property="chkstate"    column="chkstate"    />
        <result property="remark"    column="remark"    />
        <result property="billtype"    column="billtype"    />
        <result property="makerid"    column="makerid"    />
        <result property="makername"    column="makername"    />
        <result property="maketime"    column="maketime"    />
        <result property="auditorid"    column="auditorid"    />
        <result property="auditorname"    column="auditorname"    />
        <result property="firstchktime"    column="firstchktime"    />
        <result property="adjsubmittime"    column="adjsubmittime"    />
        <result property="rptfilename"    column="rptfilename"    />
        <result property="rptbeforestatus"    column="rptbeforestatus"    />
        <result property="rptstatus"    column="rptstatus"    />
        <result property="isbuildmcdfile"    column="isbuildmcdfile"    />
        <result property="upstreamno"    column="upstreamno"    />
        <result property="ismoncode"    column="ismoncode"    />
        <result property="preselltotalamt"    column="preselltotalamt"    />
        <result property="preprofit"    column="preprofit"    />
        <result property="kptime"    column="kptime"    />
        <result property="goodsno"    column="goodsno"    />
        <result property="trsstatime"    column="trsstatime"    />
        <result property="trsstatemp"    column="trsstatemp"    />
        <result property="trsprohigh"    column="trsprohigh"    />
        <result property="trsprolow"    column="trsprolow"    />
        <result property="arrtemp"    column="arrtemp"    />
        <result property="trstool"    column="trstool"    />
        <result property="toolno"    column="toolno"    />
        <result property="iscreatedrej"    column="iscreatedrej"    />
        <result property="shippingaddress"    column="shippingaddress"    />
        <result property="deliveryaddress"    column="deliveryaddress"    />
        <result property="consigneeid"    column="consigneeid"    />
        <result property="consigneename"    column="consigneename"    />
        <result property="id"    column="id"    />
        <result property="synctime"    column="synctime"    />
        <result property="substatus"    column="substatus"    />
        <result property="failreason"    column="failreason"    />
        <result property="corpid"    column="corpid"    />
    </resultMap>

    <sql id="selectJxcTrdBuymainVo">
        select instkno, goodarrtime, ordno, invoiceno, billfileno, supplierid, suppliername, totalamt, waitpayamt, payment, repsnid, repsnname, operid, opername, inspectorid, inspectorname, chkstate, remark, billtype, makerid, makername, maketime, auditorid, auditorname, firstchktime, adjsubmittime, rptfilename, rptbeforestatus, rptstatus, isbuildmcdfile, upstreamno, ismoncode, preselltotalamt, preprofit, kptime, goodsno, trsstatime, trsstatemp, trsprohigh, trsprolow, arrtemp, trstool, toolno, iscreatedrej, shippingaddress, deliveryaddress, consigneeid, consigneename, id, synctime, substatus, failreason, corpid from jxc_trd_buymain
    </sql>

    <select id="selectJxcTrdBuymainList" parameterType="JxcTrdBuymain" resultMap="JxcTrdBuymainResult">
        <include refid="selectJxcTrdBuymainVo"/>
        <where>
            <if test="instkno != null  and instkno != ''"> and instkno = #{instkno}</if>
            <if test="goodarrtime != null "> and goodarrtime = #{goodarrtime}</if>
            <if test="ordno != null  and ordno != ''"> and ordno = #{ordno}</if>
            <if test="invoiceno != null  and invoiceno != ''"> and invoiceno = #{invoiceno}</if>
            <if test="billfileno != null  and billfileno != ''"> and billfileno = #{billfileno}</if>
            <if test="supplierid != null  and supplierid != ''"> and supplierid = #{supplierid}</if>
            <if test="suppliername != null  and suppliername != ''">
                 AND suppliername like concat(concat('%', #{suppliername}), '%')
            </if>
            <if test="totalamt != null "> and totalamt = #{totalamt}</if>
            <if test="waitpayamt != null "> and waitpayamt = #{waitpayamt}</if>
            <if test="payment != null "> and payment = #{payment}</if>
            <if test="repsnid != null "> and repsnid = #{repsnid}</if>
            <if test="repsnname != null  and repsnname != ''">
                 AND repsnname like concat(concat('%', #{repsnname}), '%')
            </if>
            <if test="operid != null "> and operid = #{operid}</if>
            <if test="opername != null  and opername != ''">
                 AND opername like concat(concat('%', #{opername}), '%')
            </if>
            <if test="inspectorid != null "> and inspectorid = #{inspectorid}</if>
            <if test="inspectorname != null  and inspectorname != ''">
                 AND inspectorname like concat(concat('%', #{inspectorname}), '%')
            </if>
            <if test="chkstate != null "> and chkstate = #{chkstate}</if>
            <if test="billtype != null "> and billtype = #{billtype}</if>
            <if test="makerid != null "> and makerid = #{makerid}</if>
            <if test="makername != null  and makername != ''">
                 AND makername like concat(concat('%', #{makername}), '%')
            </if>
            <if test="maketime != null "> and maketime = #{maketime}</if>
            <if test="auditorid != null "> and auditorid = #{auditorid}</if>
            <if test="auditorname != null  and auditorname != ''">
                 AND auditorname like concat(concat('%', #{auditorname}), '%')
            </if>
            <if test="firstchktime != null "> and firstchktime = #{firstchktime}</if>
            <if test="adjsubmittime != null "> and adjsubmittime = #{adjsubmittime}</if>
            <if test="rptfilename != null  and rptfilename != ''">
                 AND rptfilename like concat(concat('%', #{rptfilename}), '%')
            </if>
            <if test="rptbeforestatus != null "> and rptbeforestatus = #{rptbeforestatus}</if>
            <if test="rptstatus != null "> and rptstatus = #{rptstatus}</if>
            <if test="isbuildmcdfile != null "> and isbuildmcdfile = #{isbuildmcdfile}</if>
            <if test="upstreamno != null  and upstreamno != ''"> and upstreamno = #{upstreamno}</if>
            <if test="ismoncode != null "> and ismoncode = #{ismoncode}</if>
            <if test="preselltotalamt != null "> and preselltotalamt = #{preselltotalamt}</if>
            <if test="preprofit != null "> and preprofit = #{preprofit}</if>
            <if test="kptime != null "> and kptime = #{kptime}</if>
            <if test="goodsno != null  and goodsno != ''"> and goodsno = #{goodsno}</if>
            <if test="trsstatime != null "> and trsstatime = #{trsstatime}</if>
            <if test="trsstatemp != null  and trsstatemp != ''"> and trsstatemp = #{trsstatemp}</if>
            <if test="trsprohigh != null  and trsprohigh != ''"> and trsprohigh = #{trsprohigh}</if>
            <if test="trsprolow != null  and trsprolow != ''"> and trsprolow = #{trsprolow}</if>
            <if test="arrtemp != null  and arrtemp != ''"> and arrtemp = #{arrtemp}</if>
            <if test="trstool != null  and trstool != ''"> and trstool = #{trstool}</if>
            <if test="toolno != null  and toolno != ''"> and toolno = #{toolno}</if>
            <if test="iscreatedrej != null "> and iscreatedrej = #{iscreatedrej}</if>
            <if test="shippingaddress != null  and shippingaddress != ''"> and shippingaddress = #{shippingaddress}</if>
            <if test="deliveryaddress != null  and deliveryaddress != ''"> and deliveryaddress = #{deliveryaddress}</if>
            <if test="consigneeid != null "> and consigneeid = #{consigneeid}</if>
            <if test="consigneename != null  and consigneename != ''">
                 AND consigneename like concat(concat('%', #{consigneename}), '%')
            </if>
            <if test="synctime != null "> and synctime = #{synctime}</if>
            <if test="substatus != null  and substatus != ''"> and substatus = #{substatus}</if>
            <if test="failreason != null  and failreason != ''"> and failreason = #{failreason}</if>
            <if test="corpid != null  and corpid != ''"> and corpid = #{corpid}</if>
            <if test="whereCouse != null  and whereCouse != ''"> and ${whereCouse} </if>
        </where>
    </select>

    <select id="selectJxcTrdBuymainById" parameterType="String" resultMap="JxcTrdBuymainResult">
        <include refid="selectJxcTrdBuymainVo"/>
        where id = #{id}
    </select>

    <insert id="insertJxcTrdBuymain" parameterType="JxcTrdBuymain">
        insert into jxc_trd_buymain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="instkno != null and instkno != ''">instkno,</if>
            <if test="goodarrtime != null">goodarrtime,</if>
            <if test="ordno != null">ordno,</if>
            <if test="invoiceno != null">invoiceno,</if>
            <if test="billfileno != null">billfileno,</if>
            <if test="supplierid != null">supplierid,</if>
            <if test="suppliername != null">suppliername,</if>
            <if test="totalamt != null">totalamt,</if>
            <if test="waitpayamt != null">waitpayamt,</if>
            <if test="payment != null">payment,</if>
            <if test="repsnid != null">repsnid,</if>
            <if test="repsnname != null">repsnname,</if>
            <if test="operid != null">operid,</if>
            <if test="opername != null">opername,</if>
            <if test="inspectorid != null">inspectorid,</if>
            <if test="inspectorname != null">inspectorname,</if>
            <if test="chkstate != null">chkstate,</if>
            <if test="remark != null">remark,</if>
            <if test="billtype != null">billtype,</if>
            <if test="makerid != null">makerid,</if>
            <if test="makername != null">makername,</if>
            <if test="maketime != null">maketime,</if>
            <if test="auditorid != null">auditorid,</if>
            <if test="auditorname != null">auditorname,</if>
            <if test="firstchktime != null">firstchktime,</if>
            <if test="adjsubmittime != null">adjsubmittime,</if>
            <if test="rptfilename != null">rptfilename,</if>
            <if test="rptbeforestatus != null">rptbeforestatus,</if>
            <if test="rptstatus != null">rptstatus,</if>
            <if test="isbuildmcdfile != null">isbuildmcdfile,</if>
            <if test="upstreamno != null">upstreamno,</if>
            <if test="ismoncode != null">ismoncode,</if>
            <if test="preselltotalamt != null">preselltotalamt,</if>
            <if test="preprofit != null">preprofit,</if>
            <if test="kptime != null">kptime,</if>
            <if test="goodsno != null">goodsno,</if>
            <if test="trsstatime != null">trsstatime,</if>
            <if test="trsstatemp != null">trsstatemp,</if>
            <if test="trsprohigh != null">trsprohigh,</if>
            <if test="trsprolow != null">trsprolow,</if>
            <if test="arrtemp != null">arrtemp,</if>
            <if test="trstool != null">trstool,</if>
            <if test="toolno != null">toolno,</if>
            <if test="iscreatedrej != null">iscreatedrej,</if>
            <if test="shippingaddress != null">shippingaddress,</if>
            <if test="deliveryaddress != null">deliveryaddress,</if>
            <if test="consigneeid != null">consigneeid,</if>
            <if test="consigneename != null">consigneename,</if>
            <if test="id != null">id,</if>
            <if test="synctime != null">synctime,</if>
            <if test="substatus != null">substatus,</if>
            <if test="failreason != null">failreason,</if>
            <if test="corpid != null">corpid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="instkno != null and instkno != ''">#{instkno},</if>
            <if test="goodarrtime != null">#{goodarrtime},</if>
            <if test="ordno != null">#{ordno},</if>
            <if test="invoiceno != null">#{invoiceno},</if>
            <if test="billfileno != null">#{billfileno},</if>
            <if test="supplierid != null">#{supplierid},</if>
            <if test="suppliername != null">#{suppliername},</if>
            <if test="totalamt != null">#{totalamt},</if>
            <if test="waitpayamt != null">#{waitpayamt},</if>
            <if test="payment != null">#{payment},</if>
            <if test="repsnid != null">#{repsnid},</if>
            <if test="repsnname != null">#{repsnname},</if>
            <if test="operid != null">#{operid},</if>
            <if test="opername != null">#{opername},</if>
            <if test="inspectorid != null">#{inspectorid},</if>
            <if test="inspectorname != null">#{inspectorname},</if>
            <if test="chkstate != null">#{chkstate},</if>
            <if test="remark != null">#{remark},</if>
            <if test="billtype != null">#{billtype},</if>
            <if test="makerid != null">#{makerid},</if>
            <if test="makername != null">#{makername},</if>
            <if test="maketime != null">#{maketime},</if>
            <if test="auditorid != null">#{auditorid},</if>
            <if test="auditorname != null">#{auditorname},</if>
            <if test="firstchktime != null">#{firstchktime},</if>
            <if test="adjsubmittime != null">#{adjsubmittime},</if>
            <if test="rptfilename != null">#{rptfilename},</if>
            <if test="rptbeforestatus != null">#{rptbeforestatus},</if>
            <if test="rptstatus != null">#{rptstatus},</if>
            <if test="isbuildmcdfile != null">#{isbuildmcdfile},</if>
            <if test="upstreamno != null">#{upstreamno},</if>
            <if test="ismoncode != null">#{ismoncode},</if>
            <if test="preselltotalamt != null">#{preselltotalamt},</if>
            <if test="preprofit != null">#{preprofit},</if>
            <if test="kptime != null">#{kptime},</if>
            <if test="goodsno != null">#{goodsno},</if>
            <if test="trsstatime != null">#{trsstatime},</if>
            <if test="trsstatemp != null">#{trsstatemp},</if>
            <if test="trsprohigh != null">#{trsprohigh},</if>
            <if test="trsprolow != null">#{trsprolow},</if>
            <if test="arrtemp != null">#{arrtemp},</if>
            <if test="trstool != null">#{trstool},</if>
            <if test="toolno != null">#{toolno},</if>
            <if test="iscreatedrej != null">#{iscreatedrej},</if>
            <if test="shippingaddress != null">#{shippingaddress},</if>
            <if test="deliveryaddress != null">#{deliveryaddress},</if>
            <if test="consigneeid != null">#{consigneeid},</if>
            <if test="consigneename != null">#{consigneename},</if>
            <if test="id != null">#{id},</if>
            <if test="synctime != null">#{synctime},</if>
            <if test="substatus != null">#{substatus},</if>
            <if test="failreason != null">#{failreason},</if>
            <if test="corpid != null">#{corpid},</if>
         </trim>
    </insert>

    <update id="updateJxcTrdBuymain" parameterType="JxcTrdBuymain">
        update jxc_trd_buymain
        <trim prefix="SET" suffixOverrides=",">
            <if test="instkno != null and instkno != ''">instkno = #{instkno},</if>
            <if test="goodarrtime != null">goodarrtime = #{goodarrtime},</if>
            <if test="ordno != null">ordno = #{ordno},</if>
            <if test="invoiceno != null">invoiceno = #{invoiceno},</if>
            <if test="billfileno != null">billfileno = #{billfileno},</if>
            <if test="supplierid != null">supplierid = #{supplierid},</if>
            <if test="suppliername != null">suppliername = #{suppliername},</if>
            <if test="totalamt != null">totalamt = #{totalamt},</if>
            <if test="waitpayamt != null">waitpayamt = #{waitpayamt},</if>
            <if test="payment != null">payment = #{payment},</if>
            <if test="repsnid != null">repsnid = #{repsnid},</if>
            <if test="repsnname != null">repsnname = #{repsnname},</if>
            <if test="operid != null">operid = #{operid},</if>
            <if test="opername != null">opername = #{opername},</if>
            <if test="inspectorid != null">inspectorid = #{inspectorid},</if>
            <if test="inspectorname != null">inspectorname = #{inspectorname},</if>
            <if test="chkstate != null">chkstate = #{chkstate},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="billtype != null">billtype = #{billtype},</if>
            <if test="makerid != null">makerid = #{makerid},</if>
            <if test="makername != null">makername = #{makername},</if>
            <if test="maketime != null">maketime = #{maketime},</if>
            <if test="auditorid != null">auditorid = #{auditorid},</if>
            <if test="auditorname != null">auditorname = #{auditorname},</if>
            <if test="firstchktime != null">firstchktime = #{firstchktime},</if>
            <if test="adjsubmittime != null">adjsubmittime = #{adjsubmittime},</if>
            <if test="rptfilename != null">rptfilename = #{rptfilename},</if>
            <if test="rptbeforestatus != null">rptbeforestatus = #{rptbeforestatus},</if>
            <if test="rptstatus != null">rptstatus = #{rptstatus},</if>
            <if test="isbuildmcdfile != null">isbuildmcdfile = #{isbuildmcdfile},</if>
            <if test="upstreamno != null">upstreamno = #{upstreamno},</if>
            <if test="ismoncode != null">ismoncode = #{ismoncode},</if>
            <if test="preselltotalamt != null">preselltotalamt = #{preselltotalamt},</if>
            <if test="preprofit != null">preprofit = #{preprofit},</if>
            <if test="kptime != null">kptime = #{kptime},</if>
            <if test="goodsno != null">goodsno = #{goodsno},</if>
            <if test="trsstatime != null">trsstatime = #{trsstatime},</if>
            <if test="trsstatemp != null">trsstatemp = #{trsstatemp},</if>
            <if test="trsprohigh != null">trsprohigh = #{trsprohigh},</if>
            <if test="trsprolow != null">trsprolow = #{trsprolow},</if>
            <if test="arrtemp != null">arrtemp = #{arrtemp},</if>
            <if test="trstool != null">trstool = #{trstool},</if>
            <if test="toolno != null">toolno = #{toolno},</if>
            <if test="iscreatedrej != null">iscreatedrej = #{iscreatedrej},</if>
            <if test="shippingaddress != null">shippingaddress = #{shippingaddress},</if>
            <if test="deliveryaddress != null">deliveryaddress = #{deliveryaddress},</if>
            <if test="consigneeid != null">consigneeid = #{consigneeid},</if>
            <if test="consigneename != null">consigneename = #{consigneename},</if>
            <if test="synctime != null">synctime = #{synctime},</if>
            <if test="substatus != null">substatus = #{substatus},</if>
            <if test="failreason != null">failreason = #{failreason},</if>
            <if test="corpid != null">corpid = #{corpid},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateJxcTrdBuymainByPrimaryKey" parameterType="JxcTrdBuymain">
        update jxc_trd_buymain set
           instkno = #{instkno},
           goodarrtime = #{goodarrtime},
           ordno = #{ordno},
           invoiceno = #{invoiceno},
           billfileno = #{billfileno},
           supplierid = #{supplierid},
           suppliername = #{suppliername},
           totalamt = #{totalamt},
           waitpayamt = #{waitpayamt},
           payment = #{payment},
           repsnid = #{repsnid},
           repsnname = #{repsnname},
           operid = #{operid},
           opername = #{opername},
           inspectorid = #{inspectorid},
           inspectorname = #{inspectorname},
           chkstate = #{chkstate},
           remark = #{remark},
           billtype = #{billtype},
           makerid = #{makerid},
           makername = #{makername},
           maketime = #{maketime},
           auditorid = #{auditorid},
           auditorname = #{auditorname},
           firstchktime = #{firstchktime},
           adjsubmittime = #{adjsubmittime},
           rptfilename = #{rptfilename},
           rptbeforestatus = #{rptbeforestatus},
           rptstatus = #{rptstatus},
           isbuildmcdfile = #{isbuildmcdfile},
           upstreamno = #{upstreamno},
           ismoncode = #{ismoncode},
           preselltotalamt = #{preselltotalamt},
           preprofit = #{preprofit},
           kptime = #{kptime},
           goodsno = #{goodsno},
           trsstatime = #{trsstatime},
           trsstatemp = #{trsstatemp},
           trsprohigh = #{trsprohigh},
           trsprolow = #{trsprolow},
           arrtemp = #{arrtemp},
           trstool = #{trstool},
           toolno = #{toolno},
           iscreatedrej = #{iscreatedrej},
           shippingaddress = #{shippingaddress},
           deliveryaddress = #{deliveryaddress},
           consigneeid = #{consigneeid},
           consigneename = #{consigneename},
           synctime = #{synctime},
           substatus = #{substatus},
           failreason = #{failreason},
           corpid = #{corpid}
        where id = #{id}
    </update>
    <delete id="deleteJxcTrdBuymainById" parameterType="String">
        delete from jxc_trd_buymain where id = #{id}
    </delete>

    <delete id="deleteJxcTrdBuymainByIds" parameterType="String">
        delete from jxc_trd_buymain where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectJxcTrdBuymainCount" parameterType="JxcTrdBuymain" resultType="java.lang.Integer">
        select count(1) from jxc_trd_buymain
        <where>
            <if test="instkno != null  and instkno != ''"> and instkno = #{instkno}</if>
            <if test="goodarrtime != null "> and goodarrtime = #{goodarrtime}</if>
            <if test="ordno != null  and ordno != ''"> and ordno = #{ordno}</if>
            <if test="invoiceno != null  and invoiceno != ''"> and invoiceno = #{invoiceno}</if>
            <if test="billfileno != null  and billfileno != ''"> and billfileno = #{billfileno}</if>
            <if test="supplierid != null  and supplierid != ''"> and supplierid = #{supplierid}</if>
            <if test="suppliername != null  and suppliername != ''">
                AND suppliername like concat(concat('%', #{suppliername}), '%')
            </if>
            <if test="totalamt != null "> and totalamt = #{totalamt}</if>
            <if test="waitpayamt != null "> and waitpayamt = #{waitpayamt}</if>
            <if test="payment != null "> and payment = #{payment}</if>
            <if test="repsnid != null "> and repsnid = #{repsnid}</if>
            <if test="repsnname != null  and repsnname != ''">
                AND repsnname like concat(concat('%', #{repsnname}), '%')
            </if>
            <if test="operid != null "> and operid = #{operid}</if>
            <if test="opername != null  and opername != ''">
                AND opername like concat(concat('%', #{opername}), '%')
            </if>
            <if test="inspectorid != null "> and inspectorid = #{inspectorid}</if>
            <if test="inspectorname != null  and inspectorname != ''">
                AND inspectorname like concat(concat('%', #{inspectorname}), '%')
            </if>
            <if test="chkstate != null "> and chkstate = #{chkstate}</if>
            <if test="billtype != null "> and billtype = #{billtype}</if>
            <if test="makerid != null "> and makerid = #{makerid}</if>
            <if test="makername != null  and makername != ''">
                AND makername like concat(concat('%', #{makername}), '%')
            </if>
            <if test="maketime != null "> and maketime = #{maketime}</if>
            <if test="auditorid != null "> and auditorid = #{auditorid}</if>
            <if test="auditorname != null  and auditorname != ''">
                AND auditorname like concat(concat('%', #{auditorname}), '%')
            </if>
            <if test="firstchktime != null "> and firstchktime = #{firstchktime}</if>
            <if test="adjsubmittime != null "> and adjsubmittime = #{adjsubmittime}</if>
            <if test="rptfilename != null  and rptfilename != ''">
                AND rptfilename like concat(concat('%', #{rptfilename}), '%')
            </if>
            <if test="rptbeforestatus != null "> and rptbeforestatus = #{rptbeforestatus}</if>
            <if test="rptstatus != null "> and rptstatus = #{rptstatus}</if>
            <if test="isbuildmcdfile != null "> and isbuildmcdfile = #{isbuildmcdfile}</if>
            <if test="upstreamno != null  and upstreamno != ''"> and upstreamno = #{upstreamno}</if>
            <if test="ismoncode != null "> and ismoncode = #{ismoncode}</if>
            <if test="preselltotalamt != null "> and preselltotalamt = #{preselltotalamt}</if>
            <if test="preprofit != null "> and preprofit = #{preprofit}</if>
            <if test="kptime != null "> and kptime = #{kptime}</if>
            <if test="goodsno != null  and goodsno != ''"> and goodsno = #{goodsno}</if>
            <if test="trsstatime != null "> and trsstatime = #{trsstatime}</if>
            <if test="trsstatemp != null  and trsstatemp != ''"> and trsstatemp = #{trsstatemp}</if>
            <if test="trsprohigh != null  and trsprohigh != ''"> and trsprohigh = #{trsprohigh}</if>
            <if test="trsprolow != null  and trsprolow != ''"> and trsprolow = #{trsprolow}</if>
            <if test="arrtemp != null  and arrtemp != ''"> and arrtemp = #{arrtemp}</if>
            <if test="trstool != null  and trstool != ''"> and trstool = #{trstool}</if>
            <if test="toolno != null  and toolno != ''"> and toolno = #{toolno}</if>
            <if test="iscreatedrej != null "> and iscreatedrej = #{iscreatedrej}</if>
            <if test="shippingaddress != null  and shippingaddress != ''"> and shippingaddress = #{shippingaddress}</if>
            <if test="deliveryaddress != null  and deliveryaddress != ''"> and deliveryaddress = #{deliveryaddress}</if>
            <if test="consigneeid != null "> and consigneeid = #{consigneeid}</if>
            <if test="consigneename != null  and consigneename != ''">
                AND consigneename like concat(concat('%', #{consigneename}), '%')
            </if>
            <if test="synctime != null "> and synctime = #{synctime}</if>
            <if test="substatus != null  and substatus != ''"> and substatus = #{substatus}</if>
            <if test="failreason != null  and failreason != ''"> and failreason = #{failreason}</if>
            <if test="corpid != null  and corpid != ''"> and corpid = #{corpid}</if>
        </where>
    </select>

</mapper>
