<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lidaning.jxc.mapper.JxcTrdChkmainMapper">

    <resultMap type="JxcTrdChkmain" id="JxcTrdChkmainResult">
        <result property="chkno"    column="chkno"    />
        <result property="chktime"    column="chktime"    />
        <result property="chktype"    column="chktype"    />
        <result property="chkstaffid"    column="chkstaffid"    />
        <result property="chkstaffname"    column="chkstaffname"    />
        <result property="pricetype"    column="pricetype"    />
        <result property="remark"    column="remark"    />
        <result property="state"    column="state"    />
        <result property="intochkno"    column="intochkno"    />
        <result property="chkstate"    column="chkstate"    />
        <result property="makerid"    column="makerid"    />
        <result property="makername"    column="makername"    />
        <result property="maketime"    column="maketime"    />
        <result property="auditorid"    column="auditorid"    />
        <result property="auditorname"    column="auditorname"    />
        <result property="firstchktime"    column="firstchktime"    />
        <result property="adjsubmittime"    column="adjsubmittime"    />
        <result property="totalamt"    column="totalamt"    />
        <result property="difftotalamt"    column="difftotalamt"    />
        <result property="saletotalamt"    column="saletotalamt"    />
        <result property="id"    column="id"    />
    </resultMap>

    <sql id="selectJxcTrdChkmainVo">
        select chkno, chktime, chktype, chkstaffid, chkstaffname, pricetype, remark, state, intochkno, chkstate, makerid, makername, maketime, auditorid, auditorname, firstchktime, adjsubmittime, totalamt, difftotalamt, saletotalamt, id from jxc_trd_chkmain
    </sql>

    <select id="selectJxcTrdChkmainList" parameterType="JxcTrdChkmain" resultMap="JxcTrdChkmainResult">
        <include refid="selectJxcTrdChkmainVo"/>
        <where>
            <if test="chkno != null  and chkno != ''"> and chkno = #{chkno}</if>
            <if test="chktime != null "> and chktime = #{chktime}</if>
            <if test="chktype != null "> and chktype = #{chktype}</if>
            <if test="chkstaffid != null "> and chkstaffid = #{chkstaffid}</if>
            <if test="chkstaffname != null  and chkstaffname != ''">
                 AND chkstaffname like concat(concat('%', #{chkstaffname}), '%')
            </if>
            <if test="pricetype != null "> and pricetype = #{pricetype}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="intochkno != null  and intochkno != ''"> and intochkno = #{intochkno}</if>
            <if test="chkstate != null "> and chkstate = #{chkstate}</if>
            <if test="makerid != null "> and makerid = #{makerid}</if>
            <if test="makername != null  and makername != ''">
                 AND makername like concat(concat('%', #{makername}), '%')
            </if>
            <if test="maketime != null "> and maketime = #{maketime}</if>
            <if test="auditorid != null "> and auditorid = #{auditorid}</if>
            <if test="auditorname != null  and auditorname != ''">
                 AND auditorname like concat(concat('%', #{auditorname}), '%')
            </if>
            <if test="firstchktime != null "> and firstchktime = #{firstchktime}</if>
            <if test="adjsubmittime != null "> and adjsubmittime = #{adjsubmittime}</if>
            <if test="totalamt != null "> and totalamt = #{totalamt}</if>
            <if test="difftotalamt != null "> and difftotalamt = #{difftotalamt}</if>
            <if test="saletotalamt != null "> and saletotalamt = #{saletotalamt}</if>
        </where>
    </select>

    <select id="selectJxcTrdChkmainById" parameterType="String" resultMap="JxcTrdChkmainResult">
        <include refid="selectJxcTrdChkmainVo"/>
        where id = #{id}
    </select>

    <insert id="insertJxcTrdChkmain" parameterType="JxcTrdChkmain">
        insert into jxc_trd_chkmain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chkno != null and chkno != ''">chkno,</if>
            <if test="chktime != null">chktime,</if>
            <if test="chktype != null">chktype,</if>
            <if test="chkstaffid != null">chkstaffid,</if>
            <if test="chkstaffname != null">chkstaffname,</if>
            <if test="pricetype != null">pricetype,</if>
            <if test="remark != null">remark,</if>
            <if test="state != null">state,</if>
            <if test="intochkno != null">intochkno,</if>
            <if test="chkstate != null">chkstate,</if>
            <if test="makerid != null">makerid,</if>
            <if test="makername != null">makername,</if>
            <if test="maketime != null">maketime,</if>
            <if test="auditorid != null">auditorid,</if>
            <if test="auditorname != null">auditorname,</if>
            <if test="firstchktime != null">firstchktime,</if>
            <if test="adjsubmittime != null">adjsubmittime,</if>
            <if test="totalamt != null">totalamt,</if>
            <if test="difftotalamt != null">difftotalamt,</if>
            <if test="saletotalamt != null">saletotalamt,</if>
            <if test="id != null">id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chkno != null and chkno != ''">#{chkno},</if>
            <if test="chktime != null">#{chktime},</if>
            <if test="chktype != null">#{chktype},</if>
            <if test="chkstaffid != null">#{chkstaffid},</if>
            <if test="chkstaffname != null">#{chkstaffname},</if>
            <if test="pricetype != null">#{pricetype},</if>
            <if test="remark != null">#{remark},</if>
            <if test="state != null">#{state},</if>
            <if test="intochkno != null">#{intochkno},</if>
            <if test="chkstate != null">#{chkstate},</if>
            <if test="makerid != null">#{makerid},</if>
            <if test="makername != null">#{makername},</if>
            <if test="maketime != null">#{maketime},</if>
            <if test="auditorid != null">#{auditorid},</if>
            <if test="auditorname != null">#{auditorname},</if>
            <if test="firstchktime != null">#{firstchktime},</if>
            <if test="adjsubmittime != null">#{adjsubmittime},</if>
            <if test="totalamt != null">#{totalamt},</if>
            <if test="difftotalamt != null">#{difftotalamt},</if>
            <if test="saletotalamt != null">#{saletotalamt},</if>
            <if test="id != null">#{id},</if>
         </trim>
    </insert>

    <update id="updateJxcTrdChkmain" parameterType="JxcTrdChkmain">
        update jxc_trd_chkmain
        <trim prefix="SET" suffixOverrides=",">
            <if test="chkno != null and chkno != ''">chkno = #{chkno},</if>
            <if test="chktime != null">chktime = #{chktime},</if>
            <if test="chktype != null">chktype = #{chktype},</if>
            <if test="chkstaffid != null">chkstaffid = #{chkstaffid},</if>
            <if test="chkstaffname != null">chkstaffname = #{chkstaffname},</if>
            <if test="pricetype != null">pricetype = #{pricetype},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="state != null">state = #{state},</if>
            <if test="intochkno != null">intochkno = #{intochkno},</if>
            <if test="chkstate != null">chkstate = #{chkstate},</if>
            <if test="makerid != null">makerid = #{makerid},</if>
            <if test="makername != null">makername = #{makername},</if>
            <if test="maketime != null">maketime = #{maketime},</if>
            <if test="auditorid != null">auditorid = #{auditorid},</if>
            <if test="auditorname != null">auditorname = #{auditorname},</if>
            <if test="firstchktime != null">firstchktime = #{firstchktime},</if>
            <if test="adjsubmittime != null">adjsubmittime = #{adjsubmittime},</if>
            <if test="totalamt != null">totalamt = #{totalamt},</if>
            <if test="difftotalamt != null">difftotalamt = #{difftotalamt},</if>
            <if test="saletotalamt != null">saletotalamt = #{saletotalamt},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateJxcTrdChkmainByPrimaryKey" parameterType="JxcTrdChkmain">
        update jxc_trd_chkmain set
           chkno = #{chkno},
           chktime = #{chktime},
           chktype = #{chktype},
           chkstaffid = #{chkstaffid},
           chkstaffname = #{chkstaffname},
           pricetype = #{pricetype},
           remark = #{remark},
           state = #{state},
           intochkno = #{intochkno},
           chkstate = #{chkstate},
           makerid = #{makerid},
           makername = #{makername},
           maketime = #{maketime},
           auditorid = #{auditorid},
           auditorname = #{auditorname},
           firstchktime = #{firstchktime},
           adjsubmittime = #{adjsubmittime},
           totalamt = #{totalamt},
           difftotalamt = #{difftotalamt},
           saletotalamt = #{saletotalamt},

        where id = #{id}
    </update>
    <delete id="deleteJxcTrdChkmainById" parameterType="String">
        delete from jxc_trd_chkmain where id = #{id}
    </delete>

    <delete id="deleteJxcTrdChkmainByIds" parameterType="String">
        delete from jxc_trd_chkmain where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectJxcTrdChkmainCount" parameterType="JxcTrdChkmain" resultType="java.lang.Integer">
        select count(1) from jxc_trd_chkmain
        <where>
            <if test="chkno != null  and chkno != ''"> and chkno = #{chkno}</if>
            <if test="chktime != null "> and chktime = #{chktime}</if>
            <if test="chktype != null "> and chktype = #{chktype}</if>
            <if test="chkstaffid != null "> and chkstaffid = #{chkstaffid}</if>
            <if test="chkstaffname != null  and chkstaffname != ''">
                AND chkstaffname like concat(concat('%', #{chkstaffname}), '%')
            </if>
            <if test="pricetype != null "> and pricetype = #{pricetype}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="intochkno != null  and intochkno != ''"> and intochkno = #{intochkno}</if>
            <if test="chkstate != null "> and chkstate = #{chkstate}</if>
            <if test="makerid != null "> and makerid = #{makerid}</if>
            <if test="makername != null  and makername != ''">
                AND makername like concat(concat('%', #{makername}), '%')
            </if>
            <if test="maketime != null "> and maketime = #{maketime}</if>
            <if test="auditorid != null "> and auditorid = #{auditorid}</if>
            <if test="auditorname != null  and auditorname != ''">
                AND auditorname like concat(concat('%', #{auditorname}), '%')
            </if>
            <if test="firstchktime != null "> and firstchktime = #{firstchktime}</if>
            <if test="adjsubmittime != null "> and adjsubmittime = #{adjsubmittime}</if>
            <if test="totalamt != null "> and totalamt = #{totalamt}</if>
            <if test="difftotalamt != null "> and difftotalamt = #{difftotalamt}</if>
            <if test="saletotalamt != null "> and saletotalamt = #{saletotalamt}</if>
        </where>
    </select>

</mapper>
