<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lidaning.jxc.mapper.JxcTrdChklistMapper">

    <resultMap type="JxcTrdChklist" id="JxcTrdChklistResult">
        <result property="id"    column="id"    />
        <result property="chkno"    column="chkno"    />
        <result property="chktime"    column="chktime"    />
        <result property="goodcode"    column="goodcode"    />
        <result property="goodstdcode"    column="goodstdcode"    />
        <result property="batchno"    column="batchno"    />
        <result property="mftdate"    column="mftdate"    />
        <result property="usefuldate"    column="usefuldate"    />
        <result property="chkstkno"    column="chkstkno"    />
        <result property="sysqty"    column="sysqty"    />
        <result property="actualqty"    column="actualqty"    />
        <result property="diffqty"    column="diffqty"    />
        <result property="price"    column="price"    />
        <result property="newpurcprice"    column="newpurcprice"    />
        <result property="saleprice"    column="saleprice"    />
        <result property="sysretailqty"    column="sysretailqty"    />
        <result property="actualretailqty"    column="actualretailqty"    />
        <result property="diffretailqty"    column="diffretailqty"    />
        <result property="actualprice"    column="actualprice"    />
        <result property="newretailpurcprice"    column="newretailpurcprice"    />
        <result property="retailprice"    column="retailprice"    />
        <result property="totalamt"    column="totalamt"    />
        <result property="firstchktime"    column="firstchktime"    />
        <result property="adjsubmittime"    column="adjsubmittime"    />
        <result property="factory"    column="factory"    />
        <result property="goodname"    column="goodname"    />
        <result property="remark"    column="remark"    />
        <result property="difftotalamt"    column="difftotalamt"    />
        <result property="chkstate"    column="chkstate"    />
        <result property="isnewbatch"    column="isnewbatch"    />
        <result property="shelfno"    column="shelfno"    />
        <result property="isselectbatch"    column="isselectbatch"    />
        <result property="mftdateex"    column="mftdateex"    />
        <result property="usefuldateex"    column="usefuldateex"    />
        <result property="style"    column="style"    />
        <result property="chksqo"    column="chksqo"    />
        <result property="mftdateaccuracy"    column="mftdateaccuracy"    />
        <result property="validperiodaccuracy"    column="validperiodaccuracy"    />
        <result property="oldprice"    column="oldprice"    />
        <result property="pid"    column="pid"    />
    </resultMap>

    <sql id="selectJxcTrdChklistVo">
        select id, chkno, chktime, goodcode, goodstdcode, batchno, mftdate, usefuldate, chkstkno, sysqty, actualqty, diffqty, price, newpurcprice, saleprice, sysretailqty, actualretailqty, diffretailqty, actualprice, newretailpurcprice, retailprice, totalamt, firstchktime, adjsubmittime, factory, goodname, remark, difftotalamt, chkstate, isnewbatch, shelfno, isselectbatch, mftdateex, usefuldateex, style, chksqo, mftdateaccuracy, validperiodaccuracy, oldprice, pid from jxc_trd_chklist
    </sql>

    <select id="selectJxcTrdChklistList" parameterType="JxcTrdChklist" resultMap="JxcTrdChklistResult">
        <include refid="selectJxcTrdChklistVo"/>
        <where>
            <if test="chkno != null  and chkno != ''"> and chkno = #{chkno}</if>
            <if test="chktime != null "> and chktime = #{chktime}</if>
            <if test="goodcode != null  and goodcode != ''"> and goodcode = #{goodcode}</if>
            <if test="goodstdcode != null  and goodstdcode != ''"> and goodstdcode = #{goodstdcode}</if>
            <if test="batchno != null  and batchno != ''"> and batchno = #{batchno}</if>
            <if test="mftdate != null "> and mftdate = #{mftdate}</if>
            <if test="usefuldate != null "> and usefuldate = #{usefuldate}</if>
            <if test="chkstkno != null  and chkstkno != ''"> and chkstkno = #{chkstkno}</if>
            <if test="sysqty != null "> and sysqty = #{sysqty}</if>
            <if test="actualqty != null "> and actualqty = #{actualqty}</if>
            <if test="diffqty != null "> and diffqty = #{diffqty}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="newpurcprice != null "> and newpurcprice = #{newpurcprice}</if>
            <if test="saleprice != null "> and saleprice = #{saleprice}</if>
            <if test="sysretailqty != null "> and sysretailqty = #{sysretailqty}</if>
            <if test="actualretailqty != null "> and actualretailqty = #{actualretailqty}</if>
            <if test="diffretailqty != null "> and diffretailqty = #{diffretailqty}</if>
            <if test="actualprice != null "> and actualprice = #{actualprice}</if>
            <if test="newretailpurcprice != null "> and newretailpurcprice = #{newretailpurcprice}</if>
            <if test="retailprice != null "> and retailprice = #{retailprice}</if>
            <if test="totalamt != null "> and totalamt = #{totalamt}</if>
            <if test="firstchktime != null "> and firstchktime = #{firstchktime}</if>
            <if test="adjsubmittime != null "> and adjsubmittime = #{adjsubmittime}</if>
            <if test="factory != null  and factory != ''"> and factory = #{factory}</if>
            <if test="goodname != null  and goodname != ''">
                 AND goodname like concat(concat('%', #{goodname}), '%')
            </if>
            <if test="difftotalamt != null "> and difftotalamt = #{difftotalamt}</if>
            <if test="chkstate != null "> and chkstate = #{chkstate}</if>
            <if test="isnewbatch != null "> and isnewbatch = #{isnewbatch}</if>
            <if test="shelfno != null  and shelfno != ''"> and shelfno = #{shelfno}</if>
            <if test="isselectbatch != null "> and isselectbatch = #{isselectbatch}</if>
            <if test="mftdateex != null  and mftdateex != ''"> and mftdateex = #{mftdateex}</if>
            <if test="usefuldateex != null  and usefuldateex != ''"> and usefuldateex = #{usefuldateex}</if>
            <if test="style != null  and style != ''"> and style = #{style}</if>
            <if test="chksqo != null "> and chksqo = #{chksqo}</if>
            <if test="mftdateaccuracy != null "> and mftdateaccuracy = #{mftdateaccuracy}</if>
            <if test="validperiodaccuracy != null "> and validperiodaccuracy = #{validperiodaccuracy}</if>
            <if test="oldprice != null "> and oldprice = #{oldprice}</if>
            <if test="pid != null "> and pid = #{pid}</if>
        </where>
    </select>

    <select id="selectJxcTrdChklistById" parameterType="String" resultMap="JxcTrdChklistResult">
        <include refid="selectJxcTrdChklistVo"/>
        where id = #{id}
    </select>

    <insert id="insertJxcTrdChklist" parameterType="JxcTrdChklist">
        insert into jxc_trd_chklist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="chkno != null">chkno,</if>
            <if test="chktime != null">chktime,</if>
            <if test="goodcode != null">goodcode,</if>
            <if test="goodstdcode != null">goodstdcode,</if>
            <if test="batchno != null">batchno,</if>
            <if test="mftdate != null">mftdate,</if>
            <if test="usefuldate != null">usefuldate,</if>
            <if test="chkstkno != null">chkstkno,</if>
            <if test="sysqty != null">sysqty,</if>
            <if test="actualqty != null">actualqty,</if>
            <if test="diffqty != null">diffqty,</if>
            <if test="price != null">price,</if>
            <if test="newpurcprice != null">newpurcprice,</if>
            <if test="saleprice != null">saleprice,</if>
            <if test="sysretailqty != null">sysretailqty,</if>
            <if test="actualretailqty != null">actualretailqty,</if>
            <if test="diffretailqty != null">diffretailqty,</if>
            <if test="actualprice != null">actualprice,</if>
            <if test="newretailpurcprice != null">newretailpurcprice,</if>
            <if test="retailprice != null">retailprice,</if>
            <if test="totalamt != null">totalamt,</if>
            <if test="firstchktime != null">firstchktime,</if>
            <if test="adjsubmittime != null">adjsubmittime,</if>
            <if test="factory != null">factory,</if>
            <if test="goodname != null">goodname,</if>
            <if test="remark != null">remark,</if>
            <if test="difftotalamt != null">difftotalamt,</if>
            <if test="chkstate != null">chkstate,</if>
            <if test="isnewbatch != null">isnewbatch,</if>
            <if test="shelfno != null">shelfno,</if>
            <if test="isselectbatch != null">isselectbatch,</if>
            <if test="mftdateex != null">mftdateex,</if>
            <if test="usefuldateex != null">usefuldateex,</if>
            <if test="style != null">style,</if>
            <if test="chksqo != null">chksqo,</if>
            <if test="mftdateaccuracy != null">mftdateaccuracy,</if>
            <if test="validperiodaccuracy != null">validperiodaccuracy,</if>
            <if test="oldprice != null">oldprice,</if>
            <if test="pid != null">pid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="chkno != null">#{chkno},</if>
            <if test="chktime != null">#{chktime},</if>
            <if test="goodcode != null">#{goodcode},</if>
            <if test="goodstdcode != null">#{goodstdcode},</if>
            <if test="batchno != null">#{batchno},</if>
            <if test="mftdate != null">#{mftdate},</if>
            <if test="usefuldate != null">#{usefuldate},</if>
            <if test="chkstkno != null">#{chkstkno},</if>
            <if test="sysqty != null">#{sysqty},</if>
            <if test="actualqty != null">#{actualqty},</if>
            <if test="diffqty != null">#{diffqty},</if>
            <if test="price != null">#{price},</if>
            <if test="newpurcprice != null">#{newpurcprice},</if>
            <if test="saleprice != null">#{saleprice},</if>
            <if test="sysretailqty != null">#{sysretailqty},</if>
            <if test="actualretailqty != null">#{actualretailqty},</if>
            <if test="diffretailqty != null">#{diffretailqty},</if>
            <if test="actualprice != null">#{actualprice},</if>
            <if test="newretailpurcprice != null">#{newretailpurcprice},</if>
            <if test="retailprice != null">#{retailprice},</if>
            <if test="totalamt != null">#{totalamt},</if>
            <if test="firstchktime != null">#{firstchktime},</if>
            <if test="adjsubmittime != null">#{adjsubmittime},</if>
            <if test="factory != null">#{factory},</if>
            <if test="goodname != null">#{goodname},</if>
            <if test="remark != null">#{remark},</if>
            <if test="difftotalamt != null">#{difftotalamt},</if>
            <if test="chkstate != null">#{chkstate},</if>
            <if test="isnewbatch != null">#{isnewbatch},</if>
            <if test="shelfno != null">#{shelfno},</if>
            <if test="isselectbatch != null">#{isselectbatch},</if>
            <if test="mftdateex != null">#{mftdateex},</if>
            <if test="usefuldateex != null">#{usefuldateex},</if>
            <if test="style != null">#{style},</if>
            <if test="chksqo != null">#{chksqo},</if>
            <if test="mftdateaccuracy != null">#{mftdateaccuracy},</if>
            <if test="validperiodaccuracy != null">#{validperiodaccuracy},</if>
            <if test="oldprice != null">#{oldprice},</if>
            <if test="pid != null">#{pid},</if>
         </trim>
    </insert>

    <update id="updateJxcTrdChklist" parameterType="JxcTrdChklist">
        update jxc_trd_chklist
        <trim prefix="SET" suffixOverrides=",">
            <if test="chkno != null">chkno = #{chkno},</if>
            <if test="chktime != null">chktime = #{chktime},</if>
            <if test="goodcode != null">goodcode = #{goodcode},</if>
            <if test="goodstdcode != null">goodstdcode = #{goodstdcode},</if>
            <if test="batchno != null">batchno = #{batchno},</if>
            <if test="mftdate != null">mftdate = #{mftdate},</if>
            <if test="usefuldate != null">usefuldate = #{usefuldate},</if>
            <if test="chkstkno != null">chkstkno = #{chkstkno},</if>
            <if test="sysqty != null">sysqty = #{sysqty},</if>
            <if test="actualqty != null">actualqty = #{actualqty},</if>
            <if test="diffqty != null">diffqty = #{diffqty},</if>
            <if test="price != null">price = #{price},</if>
            <if test="newpurcprice != null">newpurcprice = #{newpurcprice},</if>
            <if test="saleprice != null">saleprice = #{saleprice},</if>
            <if test="sysretailqty != null">sysretailqty = #{sysretailqty},</if>
            <if test="actualretailqty != null">actualretailqty = #{actualretailqty},</if>
            <if test="diffretailqty != null">diffretailqty = #{diffretailqty},</if>
            <if test="actualprice != null">actualprice = #{actualprice},</if>
            <if test="newretailpurcprice != null">newretailpurcprice = #{newretailpurcprice},</if>
            <if test="retailprice != null">retailprice = #{retailprice},</if>
            <if test="totalamt != null">totalamt = #{totalamt},</if>
            <if test="firstchktime != null">firstchktime = #{firstchktime},</if>
            <if test="adjsubmittime != null">adjsubmittime = #{adjsubmittime},</if>
            <if test="factory != null">factory = #{factory},</if>
            <if test="goodname != null">goodname = #{goodname},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="difftotalamt != null">difftotalamt = #{difftotalamt},</if>
            <if test="chkstate != null">chkstate = #{chkstate},</if>
            <if test="isnewbatch != null">isnewbatch = #{isnewbatch},</if>
            <if test="shelfno != null">shelfno = #{shelfno},</if>
            <if test="isselectbatch != null">isselectbatch = #{isselectbatch},</if>
            <if test="mftdateex != null">mftdateex = #{mftdateex},</if>
            <if test="usefuldateex != null">usefuldateex = #{usefuldateex},</if>
            <if test="style != null">style = #{style},</if>
            <if test="chksqo != null">chksqo = #{chksqo},</if>
            <if test="mftdateaccuracy != null">mftdateaccuracy = #{mftdateaccuracy},</if>
            <if test="validperiodaccuracy != null">validperiodaccuracy = #{validperiodaccuracy},</if>
            <if test="oldprice != null">oldprice = #{oldprice},</if>
            <if test="pid != null">pid = #{pid},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateJxcTrdChklistByPrimaryKey" parameterType="JxcTrdChklist">
        update jxc_trd_chklist set
           chkno = #{chkno},
           chktime = #{chktime},
           goodcode = #{goodcode},
           goodstdcode = #{goodstdcode},
           batchno = #{batchno},
           mftdate = #{mftdate},
           usefuldate = #{usefuldate},
           chkstkno = #{chkstkno},
           sysqty = #{sysqty},
           actualqty = #{actualqty},
           diffqty = #{diffqty},
           price = #{price},
           newpurcprice = #{newpurcprice},
           saleprice = #{saleprice},
           sysretailqty = #{sysretailqty},
           actualretailqty = #{actualretailqty},
           diffretailqty = #{diffretailqty},
           actualprice = #{actualprice},
           newretailpurcprice = #{newretailpurcprice},
           retailprice = #{retailprice},
           totalamt = #{totalamt},
           firstchktime = #{firstchktime},
           adjsubmittime = #{adjsubmittime},
           factory = #{factory},
           goodname = #{goodname},
           remark = #{remark},
           difftotalamt = #{difftotalamt},
           chkstate = #{chkstate},
           isnewbatch = #{isnewbatch},
           shelfno = #{shelfno},
           isselectbatch = #{isselectbatch},
           mftdateex = #{mftdateex},
           usefuldateex = #{usefuldateex},
           style = #{style},
           chksqo = #{chksqo},
           mftdateaccuracy = #{mftdateaccuracy},
           validperiodaccuracy = #{validperiodaccuracy},
           oldprice = #{oldprice},
           pid = #{pid}
        where id = #{id}
    </update>
    <delete id="deleteJxcTrdChklistById" parameterType="String">
        delete from jxc_trd_chklist where id = #{id}
    </delete>

    <delete id="deleteJxcTrdChklistByIds" parameterType="String">
        delete from jxc_trd_chklist where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectJxcTrdChklistCount" parameterType="JxcTrdChklist" resultType="java.lang.Integer">
        select count(1) from jxc_trd_chklist
        <where>
            <if test="chkno != null  and chkno != ''"> and chkno = #{chkno}</if>
            <if test="chktime != null "> and chktime = #{chktime}</if>
            <if test="goodcode != null  and goodcode != ''"> and goodcode = #{goodcode}</if>
            <if test="goodstdcode != null  and goodstdcode != ''"> and goodstdcode = #{goodstdcode}</if>
            <if test="batchno != null  and batchno != ''"> and batchno = #{batchno}</if>
            <if test="mftdate != null "> and mftdate = #{mftdate}</if>
            <if test="usefuldate != null "> and usefuldate = #{usefuldate}</if>
            <if test="chkstkno != null  and chkstkno != ''"> and chkstkno = #{chkstkno}</if>
            <if test="sysqty != null "> and sysqty = #{sysqty}</if>
            <if test="actualqty != null "> and actualqty = #{actualqty}</if>
            <if test="diffqty != null "> and diffqty = #{diffqty}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="newpurcprice != null "> and newpurcprice = #{newpurcprice}</if>
            <if test="saleprice != null "> and saleprice = #{saleprice}</if>
            <if test="sysretailqty != null "> and sysretailqty = #{sysretailqty}</if>
            <if test="actualretailqty != null "> and actualretailqty = #{actualretailqty}</if>
            <if test="diffretailqty != null "> and diffretailqty = #{diffretailqty}</if>
            <if test="actualprice != null "> and actualprice = #{actualprice}</if>
            <if test="newretailpurcprice != null "> and newretailpurcprice = #{newretailpurcprice}</if>
            <if test="retailprice != null "> and retailprice = #{retailprice}</if>
            <if test="totalamt != null "> and totalamt = #{totalamt}</if>
            <if test="firstchktime != null "> and firstchktime = #{firstchktime}</if>
            <if test="adjsubmittime != null "> and adjsubmittime = #{adjsubmittime}</if>
            <if test="factory != null  and factory != ''"> and factory = #{factory}</if>
            <if test="goodname != null  and goodname != ''">
                AND goodname like concat(concat('%', #{goodname}), '%')
            </if>
            <if test="difftotalamt != null "> and difftotalamt = #{difftotalamt}</if>
            <if test="chkstate != null "> and chkstate = #{chkstate}</if>
            <if test="isnewbatch != null "> and isnewbatch = #{isnewbatch}</if>
            <if test="shelfno != null  and shelfno != ''"> and shelfno = #{shelfno}</if>
            <if test="isselectbatch != null "> and isselectbatch = #{isselectbatch}</if>
            <if test="mftdateex != null  and mftdateex != ''"> and mftdateex = #{mftdateex}</if>
            <if test="usefuldateex != null  and usefuldateex != ''"> and usefuldateex = #{usefuldateex}</if>
            <if test="style != null  and style != ''"> and style = #{style}</if>
            <if test="chksqo != null "> and chksqo = #{chksqo}</if>
            <if test="mftdateaccuracy != null "> and mftdateaccuracy = #{mftdateaccuracy}</if>
            <if test="validperiodaccuracy != null "> and validperiodaccuracy = #{validperiodaccuracy}</if>
            <if test="oldprice != null "> and oldprice = #{oldprice}</if>
        </where>
    </select>

</mapper>
