<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lidaning.jxc.mapper.JxcTrdSalelistMapper">

    <resultMap type="JxcTrdSalelist" id="JxcTrdSalelistResult">
        <result property="id"    column="id"    />
        <result property="saleno"    column="saleno"    />
        <result property="trdtime"    column="trdtime"    />
        <result property="goodcode"    column="goodcode"    />
        <result property="goodstdcode"    column="goodstdcode"    />
        <result property="gbcode"    column="gbcode"    />
        <result property="goodtype"    column="goodtype"    />
        <result property="goodbarcode"    column="goodbarcode"    />
        <result property="goodname"    column="goodname"    />
        <result property="productname"    column="productname"    />
        <result property="factory"    column="factory"    />
        <result property="docode"    column="docode"    />
        <result property="doestype"    column="doestype"    />
        <result property="style"    column="style"    />
        <result property="batchno"    column="batchno"    />
        <result property="mftdate"    column="mftdate"    />
        <result property="usefuldate"    column="usefuldate"    />
        <result property="isimport"    column="isimport"    />
        <result property="factoryaddr"    column="factoryaddr"    />
        <result property="drgtype"    column="drgtype"    />
        <result property="apvno"    column="apvno"    />
        <result property="isretail"    column="isretail"    />
        <result property="unit"    column="unit"    />
        <result property="quantity"    column="quantity"    />
        <result property="price"    column="price"    />
        <result property="payment"    column="payment"    />
        <result property="commamt"    column="commamt"    />
        <result property="integral"    column="integral"    />
        <result property="rcpdrgtype"    column="rcpdrgtype"    />
        <result property="sbno"    column="sbno"    />
        <result property="ybdrgtype"    column="ybdrgtype"    />
        <result property="rxtype"    column="rxtype"    />
        <result property="sellerid"    column="sellerid"    />
        <result property="memberid"    column="memberid"    />
        <result property="dealtype"    column="dealtype"    />
        <result property="saletype"    column="saletype"    />
        <result property="giftgoodcode"    column="giftgoodcode"    />
        <result property="operid"    column="operid"    />
        <result property="opertime"    column="opertime"    />
        <result property="rptstatus"    column="rptstatus"    />
        <result property="rptfilename"    column="rptfilename"    />
        <result property="rcpid"    column="rcpid"    />
        <result property="rptbeforestatus"    column="rptbeforestatus"    />
        <result property="moncode"    column="moncode"    />
        <result property="minunit"    column="minunit"    />
        <result property="minunitcount"    column="minunitcount"    />
        <result property="convertrate"    column="convertrate"    />
        <result property="mftdateex"    column="mftdateex"    />
        <result property="usefuldateex"    column="usefuldateex"    />
        <result property="montype"    column="montype"    />
        <result property="rxsalename"    column="rxsalename"    />
        <result property="identitycard"    column="identitycard"    />
        <result property="retailrate"    column="retailrate"    />
        <result property="cost"    column="cost"    />
        <result property="isybdrug"    column="isybdrug"    />
        <result property="discountintegralstate"    column="discountintegralstate"    />
        <result property="synctime"    column="synctime"    />
        <result property="substatus"    column="substatus"    />
        <result property="failreason"    column="failreason"    />
        <result property="pid"    column="pid"    />
    </resultMap>

    <sql id="selectJxcTrdSalelistVo">
        select id, saleno, trdtime, goodcode, goodstdcode, gbcode, goodtype, goodbarcode, goodname, productname, factory, docode, doestype, style, batchno, mftdate, usefuldate, isimport, factoryaddr, drgtype, apvno, isretail, unit, quantity, price, payment, commamt, integral, rcpdrgtype, sbno, ybdrgtype, rxtype, sellerid, memberid, dealtype, saletype, giftgoodcode, operid, opertime, rptstatus, rptfilename, rcpid, rptbeforestatus, moncode, minunit, minunitcount, convertrate, mftdateex, usefuldateex, montype, rxsalename, identitycard, retailrate, cost, isybdrug, discountintegralstate, synctime, substatus, failreason, pid from jxc_trd_salelist
    </sql>

    <select id="selectJxcTrdSalelistList" parameterType="JxcTrdSalelist" resultMap="JxcTrdSalelistResult">
        <include refid="selectJxcTrdSalelistVo"/>
        <where>
            <if test="saleno != null  and saleno != ''"> and saleno = #{saleno}</if>
            <if test="trdtime != null "> and trdtime = #{trdtime}</if>
            <if test="goodcode != null  and goodcode != ''"> and goodcode = #{goodcode}</if>
            <if test="goodstdcode != null  and goodstdcode != ''"> and goodstdcode = #{goodstdcode}</if>
            <if test="gbcode != null  and gbcode != ''"> and gbcode = #{gbcode}</if>
            <if test="goodtype != null "> and goodtype = #{goodtype}</if>
            <if test="goodbarcode != null  and goodbarcode != ''"> and goodbarcode = #{goodbarcode}</if>
            <if test="goodname != null  and goodname != ''">
                 AND goodname like concat(concat('%', #{goodname}), '%')
            </if>
            <if test="productname != null  and productname != ''">
                 AND productname like concat(concat('%', #{productname}), '%')
            </if>
            <if test="factory != null  and factory != ''"> and factory = #{factory}</if>
            <if test="docode != null  and docode != ''"> and docode = #{docode}</if>
            <if test="doestype != null  and doestype != ''"> and doestype = #{doestype}</if>
            <if test="style != null  and style != ''"> and style = #{style}</if>
            <if test="batchno != null  and batchno != ''"> and batchno = #{batchno}</if>
            <if test="mftdate != null "> and mftdate = #{mftdate}</if>
            <if test="usefuldate != null "> and usefuldate = #{usefuldate}</if>
            <if test="isimport != null "> and isimport = #{isimport}</if>
            <if test="factoryaddr != null  and factoryaddr != ''"> and factoryaddr = #{factoryaddr}</if>
            <if test="drgtype != null "> and drgtype = #{drgtype}</if>
            <if test="apvno != null  and apvno != ''"> and apvno = #{apvno}</if>
            <if test="isretail != null "> and isretail = #{isretail}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="payment != null "> and payment = #{payment}</if>
            <if test="commamt != null "> and commamt = #{commamt}</if>
            <if test="integral != null "> and integral = #{integral}</if>
            <if test="rcpdrgtype != null "> and rcpdrgtype = #{rcpdrgtype}</if>
            <if test="sbno != null  and sbno != ''"> and sbno = #{sbno}</if>
            <if test="ybdrgtype != null  and ybdrgtype != ''"> and ybdrgtype = #{ybdrgtype}</if>
            <if test="rxtype != null  and rxtype != ''"> and rxtype = #{rxtype}</if>
            <if test="sellerid != null "> and sellerid = #{sellerid}</if>
            <if test="memberid != null "> and memberid = #{memberid}</if>
            <if test="dealtype != null "> and dealtype = #{dealtype}</if>
            <if test="saletype != null  and saletype != ''"> and saletype = #{saletype}</if>
            <if test="giftgoodcode != null  and giftgoodcode != ''"> and giftgoodcode = #{giftgoodcode}</if>
            <if test="operid != null "> and operid = #{operid}</if>
            <if test="opertime != null "> and opertime = #{opertime}</if>
            <if test="rptstatus != null "> and rptstatus = #{rptstatus}</if>
            <if test="rptfilename != null  and rptfilename != ''">
                 AND rptfilename like concat(concat('%', #{rptfilename}), '%')
            </if>
            <if test="rcpid != null  and rcpid != ''"> and rcpid = #{rcpid}</if>
            <if test="rptbeforestatus != null "> and rptbeforestatus = #{rptbeforestatus}</if>
            <if test="moncode != null "> and moncode = #{moncode}</if>
            <if test="minunit != null  and minunit != ''"> and minunit = #{minunit}</if>
            <if test="minunitcount != null "> and minunitcount = #{minunitcount}</if>
            <if test="convertrate != null "> and convertrate = #{convertrate}</if>
            <if test="mftdateex != null  and mftdateex != ''"> and mftdateex = #{mftdateex}</if>
            <if test="usefuldateex != null  and usefuldateex != ''"> and usefuldateex = #{usefuldateex}</if>
            <if test="montype != null  and montype != ''"> and montype = #{montype}</if>
            <if test="rxsalename != null  and rxsalename != ''">
                 AND rxsalename like concat(concat('%', #{rxsalename}), '%')
            </if>
            <if test="identitycard != null  and identitycard != ''"> and identitycard = #{identitycard}</if>
            <if test="retailrate != null "> and retailrate = #{retailrate}</if>
            <if test="cost != null "> and cost = #{cost}</if>
            <if test="isybdrug != null "> and isybdrug = #{isybdrug}</if>
            <if test="discountintegralstate != null "> and discountintegralstate = #{discountintegralstate}</if>
            <if test="synctime != null "> and synctime = #{synctime}</if>
            <if test="substatus != null "> and substatus = #{substatus}</if>
            <if test="failreason != null "> and failreason = #{failreason}</if>
            <if test="pid != null "> and pid = #{pid}</if>
        </where>
    </select>

    <select id="selectJxcTrdSalelistById" parameterType="String" resultMap="JxcTrdSalelistResult">
        <include refid="selectJxcTrdSalelistVo"/>
        where id = #{id}
    </select>

    <insert id="insertJxcTrdSalelist" parameterType="JxcTrdSalelist">
        insert into jxc_trd_salelist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="saleno != null">saleno,</if>
            <if test="trdtime != null">trdtime,</if>
            <if test="goodcode != null">goodcode,</if>
            <if test="goodstdcode != null">goodstdcode,</if>
            <if test="gbcode != null">gbcode,</if>
            <if test="goodtype != null">goodtype,</if>
            <if test="goodbarcode != null">goodbarcode,</if>
            <if test="goodname != null">goodname,</if>
            <if test="productname != null">productname,</if>
            <if test="factory != null">factory,</if>
            <if test="docode != null">docode,</if>
            <if test="doestype != null">doestype,</if>
            <if test="style != null">style,</if>
            <if test="batchno != null">batchno,</if>
            <if test="mftdate != null">mftdate,</if>
            <if test="usefuldate != null">usefuldate,</if>
            <if test="isimport != null">isimport,</if>
            <if test="factoryaddr != null">factoryaddr,</if>
            <if test="drgtype != null">drgtype,</if>
            <if test="apvno != null">apvno,</if>
            <if test="isretail != null">isretail,</if>
            <if test="unit != null">unit,</if>
            <if test="quantity != null">quantity,</if>
            <if test="price != null">price,</if>
            <if test="payment != null">payment,</if>
            <if test="commamt != null">commamt,</if>
            <if test="integral != null">integral,</if>
            <if test="rcpdrgtype != null">rcpdrgtype,</if>
            <if test="sbno != null">sbno,</if>
            <if test="ybdrgtype != null">ybdrgtype,</if>
            <if test="rxtype != null">rxtype,</if>
            <if test="sellerid != null">sellerid,</if>
            <if test="memberid != null">memberid,</if>
            <if test="dealtype != null">dealtype,</if>
            <if test="saletype != null">saletype,</if>
            <if test="giftgoodcode != null">giftgoodcode,</if>
            <if test="operid != null">operid,</if>
            <if test="opertime != null">opertime,</if>
            <if test="rptstatus != null">rptstatus,</if>
            <if test="rptfilename != null">rptfilename,</if>
            <if test="rcpid != null">rcpid,</if>
            <if test="rptbeforestatus != null">rptbeforestatus,</if>
            <if test="moncode != null">moncode,</if>
            <if test="minunit != null">minunit,</if>
            <if test="minunitcount != null">minunitcount,</if>
            <if test="convertrate != null">convertrate,</if>
            <if test="mftdateex != null">mftdateex,</if>
            <if test="usefuldateex != null">usefuldateex,</if>
            <if test="montype != null">montype,</if>
            <if test="rxsalename != null">rxsalename,</if>
            <if test="identitycard != null">identitycard,</if>
            <if test="retailrate != null">retailrate,</if>
            <if test="cost != null">cost,</if>
            <if test="isybdrug != null">isybdrug,</if>
            <if test="discountintegralstate != null">discountintegralstate,</if>
            <if test="pid != null">pid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="saleno != null">#{saleno},</if>
            <if test="trdtime != null">#{trdtime},</if>
            <if test="goodcode != null">#{goodcode},</if>
            <if test="goodstdcode != null">#{goodstdcode},</if>
            <if test="gbcode != null">#{gbcode},</if>
            <if test="goodtype != null">#{goodtype},</if>
            <if test="goodbarcode != null">#{goodbarcode},</if>
            <if test="goodname != null">#{goodname},</if>
            <if test="productname != null">#{productname},</if>
            <if test="factory != null">#{factory},</if>
            <if test="docode != null">#{docode},</if>
            <if test="doestype != null">#{doestype},</if>
            <if test="style != null">#{style},</if>
            <if test="batchno != null">#{batchno},</if>
            <if test="mftdate != null">#{mftdate},</if>
            <if test="usefuldate != null">#{usefuldate},</if>
            <if test="isimport != null">#{isimport},</if>
            <if test="factoryaddr != null">#{factoryaddr},</if>
            <if test="drgtype != null">#{drgtype},</if>
            <if test="apvno != null">#{apvno},</if>
            <if test="isretail != null">#{isretail},</if>
            <if test="unit != null">#{unit},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="price != null">#{price},</if>
            <if test="payment != null">#{payment},</if>
            <if test="commamt != null">#{commamt},</if>
            <if test="integral != null">#{integral},</if>
            <if test="rcpdrgtype != null">#{rcpdrgtype},</if>
            <if test="sbno != null">#{sbno},</if>
            <if test="ybdrgtype != null">#{ybdrgtype},</if>
            <if test="rxtype != null">#{rxtype},</if>
            <if test="sellerid != null">#{sellerid},</if>
            <if test="memberid != null">#{memberid},</if>
            <if test="dealtype != null">#{dealtype},</if>
            <if test="saletype != null">#{saletype},</if>
            <if test="giftgoodcode != null">#{giftgoodcode},</if>
            <if test="operid != null">#{operid},</if>
            <if test="opertime != null">#{opertime},</if>
            <if test="rptstatus != null">#{rptstatus},</if>
            <if test="rptfilename != null">#{rptfilename},</if>
            <if test="rcpid != null">#{rcpid},</if>
            <if test="rptbeforestatus != null">#{rptbeforestatus},</if>
            <if test="moncode != null">#{moncode},</if>
            <if test="minunit != null">#{minunit},</if>
            <if test="minunitcount != null">#{minunitcount},</if>
            <if test="convertrate != null">#{convertrate},</if>
            <if test="mftdateex != null">#{mftdateex},</if>
            <if test="usefuldateex != null">#{usefuldateex},</if>
            <if test="montype != null">#{montype},</if>
            <if test="rxsalename != null">#{rxsalename},</if>
            <if test="identitycard != null">#{identitycard},</if>
            <if test="retailrate != null">#{retailrate},</if>
            <if test="cost != null">#{cost},</if>
            <if test="isybdrug != null">#{isybdrug},</if>
            <if test="discountintegralstate != null">#{discountintegralstate},</if>
            <if test="pid != null">#{pid},</if>
         </trim>
    </insert>

    <update id="updateJxcTrdSalelist" parameterType="JxcTrdSalelist">
        update jxc_trd_salelist
        <trim prefix="SET" suffixOverrides=",">
            <if test="saleno != null">saleno = #{saleno},</if>
            <if test="trdtime != null">trdtime = #{trdtime},</if>
            <if test="goodcode != null">goodcode = #{goodcode},</if>
            <if test="goodstdcode != null">goodstdcode = #{goodstdcode},</if>
            <if test="gbcode != null">gbcode = #{gbcode},</if>
            <if test="goodtype != null">goodtype = #{goodtype},</if>
            <if test="goodbarcode != null">goodbarcode = #{goodbarcode},</if>
            <if test="goodname != null">goodname = #{goodname},</if>
            <if test="productname != null">productname = #{productname},</if>
            <if test="factory != null">factory = #{factory},</if>
            <if test="docode != null">docode = #{docode},</if>
            <if test="doestype != null">doestype = #{doestype},</if>
            <if test="style != null">style = #{style},</if>
            <if test="batchno != null">batchno = #{batchno},</if>
            <if test="mftdate != null">mftdate = #{mftdate},</if>
            <if test="usefuldate != null">usefuldate = #{usefuldate},</if>
            <if test="isimport != null">isimport = #{isimport},</if>
            <if test="factoryaddr != null">factoryaddr = #{factoryaddr},</if>
            <if test="drgtype != null">drgtype = #{drgtype},</if>
            <if test="apvno != null">apvno = #{apvno},</if>
            <if test="isretail != null">isretail = #{isretail},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="price != null">price = #{price},</if>
            <if test="payment != null">payment = #{payment},</if>
            <if test="commamt != null">commamt = #{commamt},</if>
            <if test="integral != null">integral = #{integral},</if>
            <if test="rcpdrgtype != null">rcpdrgtype = #{rcpdrgtype},</if>
            <if test="sbno != null">sbno = #{sbno},</if>
            <if test="ybdrgtype != null">ybdrgtype = #{ybdrgtype},</if>
            <if test="rxtype != null">rxtype = #{rxtype},</if>
            <if test="sellerid != null">sellerid = #{sellerid},</if>
            <if test="memberid != null">memberid = #{memberid},</if>
            <if test="dealtype != null">dealtype = #{dealtype},</if>
            <if test="saletype != null">saletype = #{saletype},</if>
            <if test="giftgoodcode != null">giftgoodcode = #{giftgoodcode},</if>
            <if test="operid != null">operid = #{operid},</if>
            <if test="opertime != null">opertime = #{opertime},</if>
            <if test="rptstatus != null">rptstatus = #{rptstatus},</if>
            <if test="rptfilename != null">rptfilename = #{rptfilename},</if>
            <if test="rcpid != null">rcpid = #{rcpid},</if>
            <if test="rptbeforestatus != null">rptbeforestatus = #{rptbeforestatus},</if>
            <if test="moncode != null">moncode = #{moncode},</if>
            <if test="minunit != null">minunit = #{minunit},</if>
            <if test="minunitcount != null">minunitcount = #{minunitcount},</if>
            <if test="convertrate != null">convertrate = #{convertrate},</if>
            <if test="mftdateex != null">mftdateex = #{mftdateex},</if>
            <if test="usefuldateex != null">usefuldateex = #{usefuldateex},</if>
            <if test="montype != null">montype = #{montype},</if>
            <if test="rxsalename != null">rxsalename = #{rxsalename},</if>
            <if test="identitycard != null">identitycard = #{identitycard},</if>
            <if test="retailrate != null">retailrate = #{retailrate},</if>
            <if test="cost != null">cost = #{cost},</if>
            <if test="isybdrug != null">isybdrug = #{isybdrug},</if>
            <if test="discountintegralstate != null">discountintegralstate = #{discountintegralstate},</if>
            <if test="synctime != null">synctime = #{synctime},</if>
            <if test="substatus != null">substatus = #{substatus},</if>
            <if test="failreason != null">failreason = #{failreason},</if>
            <if test="pid != null">pid = #{pid},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateJxcTrdSalelistByPrimaryKey" parameterType="JxcTrdSalelist">
        update jxc_trd_salelist set
           saleno = #{saleno},
           trdtime = #{trdtime},
           goodcode = #{goodcode},
           goodstdcode = #{goodstdcode},
           gbcode = #{gbcode},
           goodtype = #{goodtype},
           goodbarcode = #{goodbarcode},
           goodname = #{goodname},
           productname = #{productname},
           factory = #{factory},
           docode = #{docode},
           doestype = #{doestype},
           style = #{style},
           batchno = #{batchno},
           mftdate = #{mftdate},
           usefuldate = #{usefuldate},
           isimport = #{isimport},
           factoryaddr = #{factoryaddr},
           drgtype = #{drgtype},
           apvno = #{apvno},
           isretail = #{isretail},
           unit = #{unit},
           quantity = #{quantity},
           price = #{price},
           payment = #{payment},
           commamt = #{commamt},
           integral = #{integral},
           rcpdrgtype = #{rcpdrgtype},
           sbno = #{sbno},
           ybdrgtype = #{ybdrgtype},
           rxtype = #{rxtype},
           sellerid = #{sellerid},
           memberid = #{memberid},
           dealtype = #{dealtype},
           saletype = #{saletype},
           giftgoodcode = #{giftgoodcode},
           operid = #{operid},
           opertime = #{opertime},
           rptstatus = #{rptstatus},
           rptfilename = #{rptfilename},
           rcpid = #{rcpid},
           rptbeforestatus = #{rptbeforestatus},
           moncode = #{moncode},
           minunit = #{minunit},
           minunitcount = #{minunitcount},
           convertrate = #{convertrate},
           mftdateex = #{mftdateex},
           usefuldateex = #{usefuldateex},
           montype = #{montype},
           rxsalename = #{rxsalename},
           identitycard = #{identitycard},
           retailrate = #{retailrate},
           cost = #{cost},
           isybdrug = #{isybdrug},
           discountintegralstate = #{discountintegralstate},
           synctime = #{synctime},
            substatus = #{substatus},
            failreason = #{failreason},
           pid = #{pid}
        where id = #{id}
    </update>
    <delete id="deleteJxcTrdSalelistById" parameterType="String">
        delete from jxc_trd_salelist where id = #{id}
    </delete>

    <delete id="deleteJxcTrdSalelistByIds" parameterType="String">
        delete from jxc_trd_salelist where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectJxcTrdSalelistCount" parameterType="JxcTrdSalelist" resultType="java.lang.Integer">
        select count(1) from jxc_trd_salelist
        <where>
            <if test="saleno != null  and saleno != ''"> and saleno = #{saleno}</if>
            <if test="trdtime != null "> and trdtime = #{trdtime}</if>
            <if test="goodcode != null  and goodcode != ''"> and goodcode = #{goodcode}</if>
            <if test="goodstdcode != null  and goodstdcode != ''"> and goodstdcode = #{goodstdcode}</if>
            <if test="gbcode != null  and gbcode != ''"> and gbcode = #{gbcode}</if>
            <if test="goodtype != null "> and goodtype = #{goodtype}</if>
            <if test="goodbarcode != null  and goodbarcode != ''"> and goodbarcode = #{goodbarcode}</if>
            <if test="goodname != null  and goodname != ''">
                AND goodname like concat(concat('%', #{goodname}), '%')
            </if>
            <if test="productname != null  and productname != ''">
                AND productname like concat(concat('%', #{productname}), '%')
            </if>
            <if test="factory != null  and factory != ''"> and factory = #{factory}</if>
            <if test="docode != null  and docode != ''"> and docode = #{docode}</if>
            <if test="doestype != null  and doestype != ''"> and doestype = #{doestype}</if>
            <if test="style != null  and style != ''"> and style = #{style}</if>
            <if test="batchno != null  and batchno != ''"> and batchno = #{batchno}</if>
            <if test="mftdate != null "> and mftdate = #{mftdate}</if>
            <if test="usefuldate != null "> and usefuldate = #{usefuldate}</if>
            <if test="isimport != null "> and isimport = #{isimport}</if>
            <if test="factoryaddr != null  and factoryaddr != ''"> and factoryaddr = #{factoryaddr}</if>
            <if test="drgtype != null "> and drgtype = #{drgtype}</if>
            <if test="apvno != null  and apvno != ''"> and apvno = #{apvno}</if>
            <if test="isretail != null "> and isretail = #{isretail}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="payment != null "> and payment = #{payment}</if>
            <if test="commamt != null "> and commamt = #{commamt}</if>
            <if test="integral != null "> and integral = #{integral}</if>
            <if test="rcpdrgtype != null "> and rcpdrgtype = #{rcpdrgtype}</if>
            <if test="sbno != null  and sbno != ''"> and sbno = #{sbno}</if>
            <if test="ybdrgtype != null  and ybdrgtype != ''"> and ybdrgtype = #{ybdrgtype}</if>
            <if test="rxtype != null  and rxtype != ''"> and rxtype = #{rxtype}</if>
            <if test="sellerid != null "> and sellerid = #{sellerid}</if>
            <if test="memberid != null "> and memberid = #{memberid}</if>
            <if test="dealtype != null "> and dealtype = #{dealtype}</if>
            <if test="saletype != null  and saletype != ''"> and saletype = #{saletype}</if>
            <if test="giftgoodcode != null  and giftgoodcode != ''"> and giftgoodcode = #{giftgoodcode}</if>
            <if test="operid != null "> and operid = #{operid}</if>
            <if test="opertime != null "> and opertime = #{opertime}</if>
            <if test="rptstatus != null "> and rptstatus = #{rptstatus}</if>
            <if test="rptfilename != null  and rptfilename != ''">
                AND rptfilename like concat(concat('%', #{rptfilename}), '%')
            </if>
            <if test="rcpid != null  and rcpid != ''"> and rcpid = #{rcpid}</if>
            <if test="rptbeforestatus != null "> and rptbeforestatus = #{rptbeforestatus}</if>
            <if test="moncode != null "> and moncode = #{moncode}</if>
            <if test="minunit != null  and minunit != ''"> and minunit = #{minunit}</if>
            <if test="minunitcount != null "> and minunitcount = #{minunitcount}</if>
            <if test="convertrate != null "> and convertrate = #{convertrate}</if>
            <if test="mftdateex != null  and mftdateex != ''"> and mftdateex = #{mftdateex}</if>
            <if test="usefuldateex != null  and usefuldateex != ''"> and usefuldateex = #{usefuldateex}</if>
            <if test="montype != null  and montype != ''"> and montype = #{montype}</if>
            <if test="rxsalename != null  and rxsalename != ''">
                AND rxsalename like concat(concat('%', #{rxsalename}), '%')
            </if>
            <if test="identitycard != null  and identitycard != ''"> and identitycard = #{identitycard}</if>
            <if test="retailrate != null "> and retailrate = #{retailrate}</if>
            <if test="cost != null "> and cost = #{cost}</if>
            <if test="isybdrug != null "> and isybdrug = #{isybdrug}</if>
            <if test="discountintegralstate != null "> and discountintegralstate = #{discountintegralstate}</if>
            <if test="synctime != null "> and synctime = #{synctime}</if>
            <if test="substatus != null "> and substatus = #{substatus}</if>
            <if test="failreason != null "> and failreason = #{failreason}</if>
        </where>
    </select>

</mapper>
