<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lidaning.jxc.mapper.JxcTrdMoncodeMapper">

    <resultMap type="JxcTrdMoncode" id="JxcTrdMoncodeResult">
        <result property="id"    column="id"    />
        <result property="trdno"    column="trdno"    />
        <result property="trdid"    column="trdid"    />
        <result property="moncode"    column="moncode"    />
        <result property="quantity"    column="quantity"    />
        <result property="goodcode"    column="goodcode"    />
        <result property="billtime"    column="billtime"    />
        <result property="synctime"    column="synctime"    />
        <result property="corpid"    column="corpid"    />
    </resultMap>

    <sql id="selectJxcTrdMoncodeVo">
        select id, trdno, trdid, moncode, quantity, goodcode, billtime, synctime, corpid from jxc_trd_moncode
    </sql>

    <select id="selectJxcTrdMoncodeList" parameterType="JxcTrdMoncode" resultMap="JxcTrdMoncodeResult">
        <include refid="selectJxcTrdMoncodeVo"/>
        <where>
            <if test="trdno != null  and trdno != ''"> and trdno = #{trdno}</if>
            <if test="trdid != null  and trdid != ''"> and trdid = #{trdid}</if>
            <if test="moncode != null  and moncode != ''"> and moncode = #{moncode}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="goodcode != null  and goodcode != ''"> and goodcode = #{goodcode}</if>
            <if test="billtime != null "> and billtime = #{billtime}</if>
            <if test="synctime != null "> and synctime = #{synctime}</if>
            <if test="corpid != null "> and corpid = #{corpid}</if>
            <if test="whereCouse != null "> and ${whereCouse} </if>
        </where>
    </select>

    <select id="selectJxcTrdMoncodeById" parameterType="String" resultMap="JxcTrdMoncodeResult">
        <include refid="selectJxcTrdMoncodeVo"/>
        where id = #{id}
    </select>

    <insert id="insertJxcTrdMoncode" parameterType="JxcTrdMoncode">
        insert into jxc_trd_moncode
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="trdno != null">trdno,</if>
            <if test="trdid != null">trdid,</if>
            <if test="moncode != null">moncode,</if>
            <if test="quantity != null">quantity,</if>
            <if test="goodcode != null">goodcode,</if>
            <if test="billtime != null">billtime,</if>
            <if test="synctime != null">synctime,</if>
            <if test="corpid != null">corpid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="trdno != null">#{trdno},</if>
            <if test="trdid != null">#{trdid},</if>
            <if test="moncode != null">#{moncode},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="goodcode != null">#{goodcode},</if>
            <if test="billtime != null">#{billtime},</if>
            <if test="synctime != null">#{synctime},</if>
            <if test="corpid != null">#{corpid},</if>
         </trim>
    </insert>

    <update id="updateJxcTrdMoncode" parameterType="JxcTrdMoncode">
        update jxc_trd_moncode
        <trim prefix="SET" suffixOverrides=",">
            <if test="trdno != null">trdno = #{trdno},</if>
            <if test="trdid != null">trdid = #{trdid},</if>
            <if test="moncode != null">moncode = #{moncode},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="goodcode != null">goodcode = #{goodcode},</if>
            <if test="billtime != null">billtime = #{billtime},</if>
            <if test="synctime != null">synctime = #{synctime},</if>
            <if test="corpid != null">corpid = #{corpid},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateJxcTrdMoncodeByPrimaryKey" parameterType="JxcTrdMoncode">
        update jxc_trd_moncode set
           trdno = #{trdno},
           trdid = #{trdid},
           moncode = #{moncode},
           quantity = #{quantity},
           goodcode = #{goodcode},
           billtime = #{billtime},
           synctime = #{synctime},
           corpid = #{corpid}
        where id = #{id}
    </update>
    <delete id="deleteJxcTrdMoncodeById" parameterType="String">
        delete from jxc_trd_moncode where id = #{id}
    </delete>

    <delete id="deleteJxcTrdMoncodeByIds" parameterType="String">
        delete from jxc_trd_moncode where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectJxcTrdMoncodeCount" parameterType="JxcTrdMoncode" resultType="java.lang.Integer">
        select count(1) from jxc_trd_moncode
        <where>
            <if test="trdno != null  and trdno != ''"> and trdno = #{trdno}</if>
            <if test="trdid != null  and trdid != ''"> and trdid = #{trdid}</if>
            <if test="moncode != null  and moncode != ''"> and moncode = #{moncode}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="goodcode != null  and goodcode != ''"> and goodcode = #{goodcode}</if>
            <if test="billtime != null "> and billtime = #{billtime}</if>
            <if test="synctime != null "> and synctime = #{synctime}</if>
            <if test="corpid != null "> and corpid = #{corpid}</if>
        </where>
    </select>

</mapper>
