<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lidaning.api.jxc.mapper.JxcTrdSalemainMapper">

    <resultMap type="JxcTrdSalemain" id="JxcTrdSalemainResult">
        <result property="saleno"    column="saleno"    />
        <result property="dealtype"    column="dealtype"    />
        <result property="trdtime"    column="trdtime"    />
        <result property="rcpno"    column="rcpno"    />
        <result property="dueamt"    column="dueamt"    />
        <result property="favorableamt"    column="favorableamt"    />
        <result property="payment"    column="payment"    />
        <result property="paytype"    column="paytype"    />
        <result property="sbpayamt"    column="sbpayamt"    />
        <result property="perpayamt"    column="perpayamt"    />
        <result property="memberid"    column="memberid"    />
        <result property="operid"    column="operid"    />
        <result property="opername"    column="opername"    />
        <result property="opertime"    column="opertime"    />
        <result property="rptstatus"    column="rptstatus"    />
        <result property="rptfilename"    column="rptfilename"    />
        <result property="rptbeforestatus"    column="rptbeforestatus"    />
        <result property="integral"    column="integral"    />
        <result property="revamt"    column="revamt"    />
        <result property="isbuildmcdfile"    column="isbuildmcdfile"    />
        <result property="rxsalename"    column="rxsalename"    />
        <result property="identitycard"    column="identitycard"    />
        <result property="businumber"    column="businumber"    />
        <result property="ssnumber"    column="ssnumber"    />
        <result property="state"    column="state"    />
        <result property="idtype"    column="idtype"    />
        <result property="clientcard"    column="clientcard"    />
        <result property="ismoncode"    column="ismoncode"    />
        <result property="discount"    column="discount"    />
        <result property="malingamt"    column="malingamt"    />
        <result property="hospitalnumber"    column="hospitalnumber"    />
        <result property="iswechatpay"    column="iswechatpay"    />
        <result property="wechatpayamt"    column="wechatpayamt"    />
        <result property="settlementnumber"    column="settlementnumber"    />
        <result property="remark"    column="remark"    />
        <result property="mobile"    column="mobile"    />
        <result property="var1"    column="var1"    />
        <result property="var2"    column="var2"    />
        <result property="var3"    column="var3"    />
        <result property="id"    column="id"    />
        <result property="synctime"    column="synctime"    />
        <result property="substatus"    column="substatus"    />
        <result property="failreason"    column="failreason"    />
        <result property="corpid"    column="corpid"    />
    </resultMap>

    <sql id="selectJxcTrdSalemainVo">
        select saleno, dealtype, trdtime, rcpno, dueamt, favorableamt, payment, paytype, sbpayamt, perpayamt, memberid, operid, opername, opertime, rptstatus, rptfilename, rptbeforestatus, integral, revamt, isbuildmcdfile, rxsalename, identitycard, businumber, ssnumber, state, idtype, clientcard, ismoncode, discount, malingamt, hospitalnumber, iswechatpay, wechatpayamt, settlementnumber, remark, mobile, var1, var2, var3, id, synctime, substatus, failreason, corpid from jxc_trd_salemain
    </sql>

    <select id="selectJxcTrdSalemainList" parameterType="JxcTrdSalemain" resultMap="JxcTrdSalemainResult">
        <include refid="selectJxcTrdSalemainVo"/>
        <where>
            <if test="saleno != null  and saleno != ''"> and saleno = #{saleno}</if>
            <if test="dealtype != null "> and dealtype = #{dealtype}</if>
            <if test="trdtime != null "> and trdtime = #{trdtime}</if>
            <if test="rcpno != null  and rcpno != ''"> and rcpno = #{rcpno}</if>
            <if test="dueamt != null "> and dueamt = #{dueamt}</if>
            <if test="favorableamt != null "> and favorableamt = #{favorableamt}</if>
            <if test="payment != null "> and payment = #{payment}</if>
            <if test="paytype != null "> and paytype = #{paytype}</if>
            <if test="sbpayamt != null "> and sbpayamt = #{sbpayamt}</if>
            <if test="perpayamt != null "> and perpayamt = #{perpayamt}</if>
            <if test="memberid != null "> and memberid = #{memberid}</if>
            <if test="operid != null "> and operid = #{operid}</if>
            <if test="opername != null  and opername != ''">
                 AND opername like concat(concat('%', #{opername}), '%')
            </if>
            <if test="opertime != null "> and opertime = #{opertime}</if>
            <if test="rptstatus != null "> and rptstatus = #{rptstatus}</if>
            <if test="rptfilename != null  and rptfilename != ''">
                 AND rptfilename like concat(concat('%', #{rptfilename}), '%')
            </if>
            <if test="rptbeforestatus != null "> and rptbeforestatus = #{rptbeforestatus}</if>
            <if test="integral != null "> and integral = #{integral}</if>
            <if test="revamt != null "> and revamt = #{revamt}</if>
            <if test="isbuildmcdfile != null "> and isbuildmcdfile = #{isbuildmcdfile}</if>
            <if test="rxsalename != null  and rxsalename != ''">
                 AND rxsalename like concat(concat('%', #{rxsalename}), '%')
            </if>
            <if test="identitycard != null  and identitycard != ''"> and identitycard = #{identitycard}</if>
            <if test="businumber != null  and businumber != ''"> and businumber = #{businumber}</if>
            <if test="ssnumber != null  and ssnumber != ''"> and ssnumber = #{ssnumber}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="idtype != null "> and idtype = #{idtype}</if>
            <if test="clientcard != null  and clientcard != ''"> and clientcard = #{clientcard}</if>
            <if test="ismoncode != null "> and ismoncode = #{ismoncode}</if>
            <if test="discount != null "> and discount = #{discount}</if>
            <if test="malingamt != null "> and malingamt = #{malingamt}</if>
            <if test="hospitalnumber != null  and hospitalnumber != ''"> and hospitalnumber = #{hospitalnumber}</if>
            <if test="iswechatpay != null "> and iswechatpay = #{iswechatpay}</if>
            <if test="wechatpayamt != null "> and wechatpayamt = #{wechatpayamt}</if>
            <if test="settlementnumber != null  and settlementnumber != ''"> and settlementnumber = #{settlementnumber}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="var1 != null  and var1 != ''"> and var1 = #{var1}</if>
            <if test="var2 != null  and var2 != ''"> and var2 = #{var2}</if>
            <if test="var3 != null  and var3 != ''"> and var3 = #{var3}</if>
            <if test="synctime != null "> and synctime = #{synctime}</if>
            <if test="substatus != null  and substatus != ''"> and substatus = #{substatus}</if>
            <if test="failreason != null  and failreason != ''"> and failreason = #{failreason}</if>
            <if test="corpid != null  and corpid != ''"> and corpid = #{corpid}</if>
            <if test="whereCouse != null  and whereCouse != ''"> and ${whereCouse} </if>
        </where>
    </select>

    <select id="selectJxcTrdSalemainById" parameterType="String" resultMap="JxcTrdSalemainResult">
        <include refid="selectJxcTrdSalemainVo"/>
        where id = #{id}
    </select>

    <insert id="insertJxcTrdSalemain" parameterType="JxcTrdSalemain">
        insert into jxc_trd_salemain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="saleno != null and saleno != ''">saleno,</if>
            <if test="dealtype != null">dealtype,</if>
            <if test="trdtime != null">trdtime,</if>
            <if test="rcpno != null">rcpno,</if>
            <if test="dueamt != null">dueamt,</if>
            <if test="favorableamt != null">favorableamt,</if>
            <if test="payment != null">payment,</if>
            <if test="paytype != null">paytype,</if>
            <if test="sbpayamt != null">sbpayamt,</if>
            <if test="perpayamt != null">perpayamt,</if>
            <if test="memberid != null">memberid,</if>
            <if test="operid != null">operid,</if>
            <if test="opername != null and opername != ''">opername,</if>
            <if test="opertime != null">opertime,</if>
            <if test="rptstatus != null">rptstatus,</if>
            <if test="rptfilename != null">rptfilename,</if>
            <if test="rptbeforestatus != null">rptbeforestatus,</if>
            <if test="integral != null">integral,</if>
            <if test="revamt != null">revamt,</if>
            <if test="isbuildmcdfile != null">isbuildmcdfile,</if>
            <if test="rxsalename != null">rxsalename,</if>
            <if test="identitycard != null">identitycard,</if>
            <if test="businumber != null">businumber,</if>
            <if test="ssnumber != null">ssnumber,</if>
            <if test="state != null">state,</if>
            <if test="idtype != null">idtype,</if>
            <if test="clientcard != null">clientcard,</if>
            <if test="ismoncode != null">ismoncode,</if>
            <if test="discount != null">discount,</if>
            <if test="malingamt != null">malingamt,</if>
            <if test="hospitalnumber != null">hospitalnumber,</if>
            <if test="iswechatpay != null">iswechatpay,</if>
            <if test="wechatpayamt != null">wechatpayamt,</if>
            <if test="settlementnumber != null">settlementnumber,</if>
            <if test="remark != null">remark,</if>
            <if test="mobile != null">mobile,</if>
            <if test="var1 != null">var1,</if>
            <if test="var2 != null">var2,</if>
            <if test="var3 != null">var3,</if>
            <if test="id != null">id,</if>
            <if test="synctime != null">synctime,</if>
            <if test="substatus != null">substatus,</if>
            <if test="failreason != null">failreason,</if>
            <if test="corpid != null">corpid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="saleno != null and saleno != ''">#{saleno},</if>
            <if test="dealtype != null">#{dealtype},</if>
            <if test="trdtime != null">#{trdtime},</if>
            <if test="rcpno != null">#{rcpno},</if>
            <if test="dueamt != null">#{dueamt},</if>
            <if test="favorableamt != null">#{favorableamt},</if>
            <if test="payment != null">#{payment},</if>
            <if test="paytype != null">#{paytype},</if>
            <if test="sbpayamt != null">#{sbpayamt},</if>
            <if test="perpayamt != null">#{perpayamt},</if>
            <if test="memberid != null">#{memberid},</if>
            <if test="operid != null">#{operid},</if>
            <if test="opername != null and opername != ''">#{opername},</if>
            <if test="opertime != null">#{opertime},</if>
            <if test="rptstatus != null">#{rptstatus},</if>
            <if test="rptfilename != null">#{rptfilename},</if>
            <if test="rptbeforestatus != null">#{rptbeforestatus},</if>
            <if test="integral != null">#{integral},</if>
            <if test="revamt != null">#{revamt},</if>
            <if test="isbuildmcdfile != null">#{isbuildmcdfile},</if>
            <if test="rxsalename != null">#{rxsalename},</if>
            <if test="identitycard != null">#{identitycard},</if>
            <if test="businumber != null">#{businumber},</if>
            <if test="ssnumber != null">#{ssnumber},</if>
            <if test="state != null">#{state},</if>
            <if test="idtype != null">#{idtype},</if>
            <if test="clientcard != null">#{clientcard},</if>
            <if test="ismoncode != null">#{ismoncode},</if>
            <if test="discount != null">#{discount},</if>
            <if test="malingamt != null">#{malingamt},</if>
            <if test="hospitalnumber != null">#{hospitalnumber},</if>
            <if test="iswechatpay != null">#{iswechatpay},</if>
            <if test="wechatpayamt != null">#{wechatpayamt},</if>
            <if test="settlementnumber != null">#{settlementnumber},</if>
            <if test="remark != null">#{remark},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="var1 != null">#{var1},</if>
            <if test="var2 != null">#{var2},</if>
            <if test="var3 != null">#{var3},</if>
            <if test="id != null">#{id},</if>
            <if test="synctime != null">#{synctime},</if>
            <if test="substatus != null">#{substatus},</if>
            <if test="failreason != null">#{failreason},</if>
            <if test="corpid != null">#{corpid},</if>
         </trim>
    </insert>

    <update id="updateJxcTrdSalemain" parameterType="JxcTrdSalemain">
        update jxc_trd_salemain
        <trim prefix="SET" suffixOverrides=",">
            <if test="saleno != null and saleno != ''">saleno = #{saleno},</if>
            <if test="dealtype != null">dealtype = #{dealtype},</if>
            <if test="trdtime != null">trdtime = #{trdtime},</if>
            <if test="rcpno != null">rcpno = #{rcpno},</if>
            <if test="dueamt != null">dueamt = #{dueamt},</if>
            <if test="favorableamt != null">favorableamt = #{favorableamt},</if>
            <if test="payment != null">payment = #{payment},</if>
            <if test="paytype != null">paytype = #{paytype},</if>
            <if test="sbpayamt != null">sbpayamt = #{sbpayamt},</if>
            <if test="perpayamt != null">perpayamt = #{perpayamt},</if>
            <if test="memberid != null">memberid = #{memberid},</if>
            <if test="operid != null">operid = #{operid},</if>
            <if test="opername != null and opername != ''">opername = #{opername},</if>
            <if test="opertime != null">opertime = #{opertime},</if>
            <if test="rptstatus != null">rptstatus = #{rptstatus},</if>
            <if test="rptfilename != null">rptfilename = #{rptfilename},</if>
            <if test="rptbeforestatus != null">rptbeforestatus = #{rptbeforestatus},</if>
            <if test="integral != null">integral = #{integral},</if>
            <if test="revamt != null">revamt = #{revamt},</if>
            <if test="isbuildmcdfile != null">isbuildmcdfile = #{isbuildmcdfile},</if>
            <if test="rxsalename != null">rxsalename = #{rxsalename},</if>
            <if test="identitycard != null">identitycard = #{identitycard},</if>
            <if test="businumber != null">businumber = #{businumber},</if>
            <if test="ssnumber != null">ssnumber = #{ssnumber},</if>
            <if test="state != null">state = #{state},</if>
            <if test="idtype != null">idtype = #{idtype},</if>
            <if test="clientcard != null">clientcard = #{clientcard},</if>
            <if test="ismoncode != null">ismoncode = #{ismoncode},</if>
            <if test="discount != null">discount = #{discount},</if>
            <if test="malingamt != null">malingamt = #{malingamt},</if>
            <if test="hospitalnumber != null">hospitalnumber = #{hospitalnumber},</if>
            <if test="iswechatpay != null">iswechatpay = #{iswechatpay},</if>
            <if test="wechatpayamt != null">wechatpayamt = #{wechatpayamt},</if>
            <if test="settlementnumber != null">settlementnumber = #{settlementnumber},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="var1 != null">var1 = #{var1},</if>
            <if test="var2 != null">var2 = #{var2},</if>
            <if test="var3 != null">var3 = #{var3},</if>
            <if test="synctime != null">synctime = #{synctime},</if>
            <if test="substatus != null">substatus = #{substatus},</if>
            <if test="failreason != null">failreason = #{failreason},</if>
            <if test="corpid != null">corpid = #{corpid},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateJxcTrdSalemainByPrimaryKey" parameterType="JxcTrdSalemain">
        update jxc_trd_salemain set
           saleno = #{saleno},
           dealtype = #{dealtype},
           trdtime = #{trdtime},
           rcpno = #{rcpno},
           dueamt = #{dueamt},
           favorableamt = #{favorableamt},
           payment = #{payment},
           paytype = #{paytype},
           sbpayamt = #{sbpayamt},
           perpayamt = #{perpayamt},
           memberid = #{memberid},
           operid = #{operid},
           opername = #{opername},
           opertime = #{opertime},
           rptstatus = #{rptstatus},
           rptfilename = #{rptfilename},
           rptbeforestatus = #{rptbeforestatus},
           integral = #{integral},
           revamt = #{revamt},
           isbuildmcdfile = #{isbuildmcdfile},
           rxsalename = #{rxsalename},
           identitycard = #{identitycard},
           businumber = #{businumber},
           ssnumber = #{ssnumber},
           state = #{state},
           idtype = #{idtype},
           clientcard = #{clientcard},
           ismoncode = #{ismoncode},
           discount = #{discount},
           malingamt = #{malingamt},
           hospitalnumber = #{hospitalnumber},
           iswechatpay = #{iswechatpay},
           wechatpayamt = #{wechatpayamt},
           settlementnumber = #{settlementnumber},
           remark = #{remark},
           mobile = #{mobile},
           var1 = #{var1},
           var2 = #{var2},
           var3 = #{var3},
           synctime = #{synctime},
           substatus = #{substatus},
           failreason = #{failreason},
           corpid = #{corpid}
        where id = #{id}
    </update>
    <delete id="deleteJxcTrdSalemainById" parameterType="String">
        delete from jxc_trd_salemain where id = #{id}
    </delete>

    <delete id="deleteJxcTrdSalemainByIds" parameterType="String">
        delete from jxc_trd_salemain where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectJxcTrdSalemainCount" parameterType="JxcTrdSalemain" resultType="java.lang.Integer">
        select count(1) from jxc_trd_salemain
        <where>
            <if test="saleno != null  and saleno != ''"> and saleno = #{saleno}</if>
            <if test="dealtype != null "> and dealtype = #{dealtype}</if>
            <if test="trdtime != null "> and trdtime = #{trdtime}</if>
            <if test="rcpno != null  and rcpno != ''"> and rcpno = #{rcpno}</if>
            <if test="dueamt != null "> and dueamt = #{dueamt}</if>
            <if test="favorableamt != null "> and favorableamt = #{favorableamt}</if>
            <if test="payment != null "> and payment = #{payment}</if>
            <if test="paytype != null "> and paytype = #{paytype}</if>
            <if test="sbpayamt != null "> and sbpayamt = #{sbpayamt}</if>
            <if test="perpayamt != null "> and perpayamt = #{perpayamt}</if>
            <if test="memberid != null "> and memberid = #{memberid}</if>
            <if test="operid != null "> and operid = #{operid}</if>
            <if test="opername != null  and opername != ''">
                AND opername like concat(concat('%', #{opername}), '%')
            </if>
            <if test="opertime != null "> and opertime = #{opertime}</if>
            <if test="rptstatus != null "> and rptstatus = #{rptstatus}</if>
            <if test="rptfilename != null  and rptfilename != ''">
                AND rptfilename like concat(concat('%', #{rptfilename}), '%')
            </if>
            <if test="rptbeforestatus != null "> and rptbeforestatus = #{rptbeforestatus}</if>
            <if test="integral != null "> and integral = #{integral}</if>
            <if test="revamt != null "> and revamt = #{revamt}</if>
            <if test="isbuildmcdfile != null "> and isbuildmcdfile = #{isbuildmcdfile}</if>
            <if test="rxsalename != null  and rxsalename != ''">
                AND rxsalename like concat(concat('%', #{rxsalename}), '%')
            </if>
            <if test="identitycard != null  and identitycard != ''"> and identitycard = #{identitycard}</if>
            <if test="businumber != null  and businumber != ''"> and businumber = #{businumber}</if>
            <if test="ssnumber != null  and ssnumber != ''"> and ssnumber = #{ssnumber}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="idtype != null "> and idtype = #{idtype}</if>
            <if test="clientcard != null  and clientcard != ''"> and clientcard = #{clientcard}</if>
            <if test="ismoncode != null "> and ismoncode = #{ismoncode}</if>
            <if test="discount != null "> and discount = #{discount}</if>
            <if test="malingamt != null "> and malingamt = #{malingamt}</if>
            <if test="hospitalnumber != null  and hospitalnumber != ''"> and hospitalnumber = #{hospitalnumber}</if>
            <if test="iswechatpay != null "> and iswechatpay = #{iswechatpay}</if>
            <if test="wechatpayamt != null "> and wechatpayamt = #{wechatpayamt}</if>
            <if test="settlementnumber != null  and settlementnumber != ''"> and settlementnumber = #{settlementnumber}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="var1 != null  and var1 != ''"> and var1 = #{var1}</if>
            <if test="var2 != null  and var2 != ''"> and var2 = #{var2}</if>
            <if test="var3 != null  and var3 != ''"> and var3 = #{var3}</if>
            <if test="synctime != null "> and synctime = #{synctime}</if>
            <if test="substatus != null  and substatus != ''"> and substatus = #{substatus}</if>
            <if test="failreason != null  and failreason != ''"> and failreason = #{failreason}</if>
            <if test="corpid != null  and corpid != ''"> and corpid = #{corpid}</if>
        </where>
    </select>

</mapper>
